FIBR_THUMBNAIL_URL=http://localhost:4000
FIBR_EXIF_URL=http://localhost:5000
FIBR_CHUNK_UPLOAD=true

FIBR_REDIS_ADDRESS=

# FIBR_STORAGE_OBJECT_ACCESS_KEY=access
# FIBR_STORAGE_OBJECT_SECRET_ACCESS=secret
# FIBR_STORAGE_OBJECT_BUCKET=fibr-test
# FIBR_STORAGE_OBJECT_ENDPOINT=s3.fr-par.scw.cloud
# FIBR_STORAGE_OBJECT_REGION=fr-par
