{{ define "layout" }}
  {{ $root := . }}

  {{ template "navigation" . }}

  <header class="header full-screen{{ if .Content.File }} flex flex-center{{ end }}">
    {{ if .Content.File }}
      <span class="flex-grow flex-ellipsis">
    {{ end }}

    <h1 class="medium no-margin no-padding" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {{ template "root_link" . }}
      </span>

      {{ range $index, $path := .Content.Paths }}
        {{ if or (not $root.Request.Share.ID) (ne $index 0) }}
          {{ $fullPath := rebuildPaths $root.Content.Paths $index }}

          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             / 
            <a href="/{{ $fullPath }}/?d={{ $root.Request.LayoutPath $fullPath }}" itemprop="item">
              <span itemprop="name">{{ $path }}</span>
            </a>
          </span>
        {{ end }}
      {{ end }}
    </h1>

    {{ if .Content.File }}
        <h2 class="small bg-grey no-margin full ellipsis">
          ↳&nbsp;
          <a href="{{ .Content.File.Name }}">{{ .Content.File.Name }}</a>
        </h2>
      </span>

      {{ if or .Content.Previous .Content.Next }}
        <nav class="flex">
          {{ if .Content.Previous }}
            <a class="button button-icon" href="{{ .Content.Previous.Name }}{{ if not .Content.Previous.IsDir }}?browser{{ end }}">
              <img class="icon" src="/svg/arrow-left?fill=silver" alt="Previous file">
            </a>
          {{ end }}

          {{ if .Content.Next }}
            <a class="button button-icon" href="{{ .Content.Next.Name }}{{ if not .Content.Next.IsDir }}?browser{{ end }}">
              <img class="icon" src="/svg/arrow-right?fill=silver" alt="Next file">
            </a>
          {{ end }}
        </nav>
      {{ end }}
    {{ end }}
  </header>

  {{ template "message" .Message }}
{{ end }}
