{{ define "share-list" }}
  <style>
    #shares {
      border-spacing: 0;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #shares th,
    #shares td {
      padding: 1rem;
    }

    .share-content:hover {
      background-color: var(--grey);
    }

    .path {
      max-width: 30rem;
    }

    @media screen and (max-width: 485px) {
      .path {
        max-width: 20rem;
      }
    }

    @media screen and (max-width: 430px) {
      .path {
        max-width: 16rem;
      }
    }

    @media screen and (max-width: 375px) {
      .path {
        max-width: 12rem;
      }
    }

    @media screen and (max-width: 320px) {
      .path {
        max-width: 8rem;
      }
    }
  </style>

  <div id="share-list" class="modal">
    <div class="modal-content">
      <h2 class="header">Shared folders</h2>

      {{ $root := . }}

      {{ if len .Content.Shares }}
        <table id="shares" class="full padding">
          <caption>List of existing shares</caption>

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Path</th>
              <th scope="col">Options</th>
              <td></td>
            </tr>
          </thead>

          <tbody>
            {{ range .Content.Shares }}
              <tr class="share-content">
                <td>
                  <a href="/{{ .ID }}/">
                    <code>{{ .ID }}</code>
                  </a>
                </td>
                <th scope="row" class="ellipsis path">
                  <code>{{ .Path }}</code>
                </th>
                <td class="center">
                  {{ if .Edit }}
                    <img class="icon" src="/svg/edit?fill=silver" alt="Editable">
                  {{ end }}
                  {{ if .Password }}
                    <img class="icon" src="/svg/lock?fill=silver" alt="Password protected">
                  {{ end }}
                  {{ if .Duration }}
                    <img class="icon" src="/svg/hourglass?fill=silver" alt="Duration">
                    {{ .Duration.Hours }}h
                  {{ end }}
                </td>
                <td >
                  <form method="post">
                    <input type="hidden" name="type" value="share" />
                    <input type="hidden" name="method" value="DELETE" />
                    <input type="hidden" name="id" value="{{ .ID }}" />
                    <button type="submit" onclick="return confirm('Are you sure you want to delete share for {{ .Path }}?')" class="button button-icon" alt="Delete">
                      <img class="icon" src="/svg/times?fill=silver" alt="Delete">
                    </button>
                  </form>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        <p class="padding no-margin center">
          <em>No shared folder yet.</em>
        </p>
      {{ end }}

      <p class="padding no-margin center">
        <a href="#" class="button white">Cancel</a>
        <a href="#share-form" class="button bg-primary">Add</a>
      </p>
    </div>
  </div>
{{ end }}
