{{ define "async-image-item" }}
  <picture id="picture-{{ .ID }}" class="no-margin" data-thumbnail data-alt="Thumbnail of {{ .URL }}" data-icon="{{ iconFromExtension . }}">
    <noscript>
      <img class="thumbnail full block" src="{{ .URL }}?thumbnail" alt="Thumbnail of {{ .URL }}" loading="lazy">
    </noscript>
  </picture>
{{ end }}

{{ define "async-image-item-large" }}
  <picture id="picture-{{ .ID }}" class="no-margin" data-thumbnail data-alt="Thumbnail of {{ .URL }}" data-src="{{ .URL }}?thumbnail&scale=large" data-icon="{{ iconFromExtension . }}">
    <noscript>
      <img class="thumbnail full block" src="{{ .URL }}?thumbnail&scale=large" alt="Thumbnail of {{ .URL }}" loading="lazy">
    </noscript>
  </picture>
{{ end }}
