{{ define "async-image-item" }}
  <picture id="picture-{{ .ID }}" class="no-margin" data-thumbnail data-alt="Thumbnail of {{ .URL }}" data-icon="{{ iconFromExtension . }}">
    <noscript>
      <img class="thumbnail full block" src="{{ .URL }}?thumbnail" alt="Thumbnail of {{ .URL }}" loading="lazy">
    </noscript>
  </picture>
{{ end }}

{{ define "async-image-item-large" }}
  <picture id="picture-{{ .ID }}" class="no-margin" data-thumbnail data-alt="Thumbnail of {{ .URL }}" data-src="{{ .URL }}?thumbnail&scale=large" data-icon="{{ iconFromExtension . }}">
    <noscript>
      <img class="thumbnail full block" src="{{ .URL }}?thumbnail&scale=large" alt="Thumbnail of {{ .URL }}" loading="lazy">
    </noscript>
  </picture>
{{ end }}

{{ define "async-image" }}
  <style type="text/css" nonce="{{ .nonce }}">
    .thumbnail {
      max-height: 100%;
      vertical-align: middle;
      width: 100%;
    }
  </style>

  <script type="text/javascript" nonce="{{ .nonce }}">
    /**
     * Restore default layout when no thumbnail is possible.
     */
    function displayNoThumbnail(picture) {
      const span = document.createElement('span');
      span.classList.add('filename', 'ellipsis');
      span.innerHTML = picture.alt.replace('Thumbnail of ', '');
      picture.after(span);

      picture.src = `{{ url "/svg/" }}${picture.dataset.icon}?fill=aliceblue`;
      picture.classList.add('icon', 'icon-large');
      picture.alt = 'Image file';
    }

    resolveScript('/scripts/modern_detection.js?v={{ .Version }}')
      .then(() => {
        if (window.modernBrowser) {
          resolveScript('/scripts/thumbnail.js?v={{ .Version }}');
        } else {
          resolveScript('/scripts/thumbnail/web.js?v={{ .Version }}')
        }
      })
      .catch(() => resolveScript('/scripts/thumbnail.js?v={{ .Version }}'));
  </script>

  </script>
{{ end }}
