{{ define "delete-modal" }}
  <div id="delete-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Confirmation</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="file" />
        <input type="hidden" name="method" value="DELETE" />
        <input type="hidden" name="name" value="{{ .Name }}{{ if .IsDir }}/{{ end }}" />

        <p class="padding no-margin center">
          Are you sure you want to delete <strong>{{ .Name }}</strong>?
        </p>

        {{ template "form_buttons" "Confirm" }}
      </form>
    </div>
  </div>
{{ end }}
