{{ define "desc-modal" }}
  <div id="desc-modal-{{ .ID }}" class="modal desc-modal">
    <div class="modal-content">
      <h2 class="header">Description</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="description" />
        <input type="hidden" name="method" value="PUT" />
        <input type="hidden" name="name" value="{{ .URL }}" />

        <p class="padding no-margin">
          <textarea class="desc-input" name="description">{{ .Exif.Description }}</textarea>
        </p>

        <p class="padding no-margin center">
          <a href="#{{ .ID }}" class="button white">Cancel</a>
          <button type="submit" class="button bg-primary">Update</button>
        </p>
      </form>
    </div>
  </div>
{{ end }}
