{{ define "edit-modal" }}
  <div id="edit-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Rename</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="item" />
        <input type="hidden" name="method" value="PATCH" />
        <input type="hidden" name="name" value="{{ .URL }}" />

        <p class="padding no-margin">
          <label for="folder-{{ .ID }}" class="block">Folder</label>
          <input id="folder-{{ .ID }}" type="text" name="newFolder" value="{{ .Path }}" />
        </p>

        <p class="padding no-margin">
          <label for="name-{{ .ID }}" class="block">Name</label>
          <input id="name-{{ .ID }}" type="text" name="newName" value="{{ .Name }}" />
        </p>

        {{ if .HasThumbnail }}
          <p class="padding no-margin center">
            <input id="cover-{{ .ID }}" type="checkbox" name="cover" value="true" {{ if .IsCover }}checked{{ end }} />
            <label for="cover-{{ .ID }}">Define folder cover</label>
          </p>
        {{ end }}

        {{ template "form_buttons" "Update" }}
      </form>
    </div>
  </div>
{{ end }}
