{{ define "favicon" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url "/favicon/apple-touch-icon.png" }}?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url "/favicon/favicon-32x32.png" }}?v={{ .Version }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url "/favicon/favicon-16x16.png" }}?v={{ .Version }}">
  <link rel="manifest" href="{{ url "/favicon/manifest.json" }}?v={{ .Version }}">
  <link rel="mask-icon" href="{{ url "/favicon/safari-pinned-tab.svg" }}?v={{ .Version }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
{{ end }}
