{{ define "files" }}
  {{ template "header" . }}
  {{ template "layout" . }}
  {{ template "throbber" . }}

  {{ $root := . }}

  <link rel="preload" as="image" href="{{ url "/svg/list?fill=silver" }}">
  <link rel="preload" as="image" href="{{ url "/svg/th?fill=silver" }}">

  {{ if .Request.CanEdit }}
    <link rel="preload" as="image" href="{{ url "/svg/cloud-upload-alt?fill=silver" }}">
    <link rel="preload" as="image" href="{{ url "/svg/folder?fill=silver" }}">
    <link rel="preload" as="image" href="{{ url "/svg/times?fill=silver" }}">
    <link rel="preload" as="image" href="{{ url "/svg/pencil-alt?fill=silver" }}">

    {{ template "upload-modal" . }}
    {{ template "folder-modal" . }}
  {{ end }}

  {{ if .Request.CanShare }}
    <link rel="preload" as="image" href="{{ url "/svg/share-alt-square?fill=silver" }}">

    {{ template "share-directory" . }}
    {{ template "share-list" . }}
  {{ end }}

  {{ if .Request.CanWebhook }}
    <link rel="preload" as="image" href="{{ url "/svg/webhook?fill=silver" }}">

    {{ template "webhook-directory" . }}
    {{ template "webhook-list" . }}
  {{ end }}

  {{ range .Files }}
    {{ if $root.Request.CanEdit }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}
    {{ end }}

    {{ if $root.Request.CanShare }}
      {{ template "share-file" . }}
    {{ end }}
  {{ end }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  {{ template "search-modal" . }}

  {{ template "items-style" . }}
  {{ if and (eq .Request.Display "grid") .HasThumbnail }}
    {{ template "async-image" . }}
  {{ end }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }

    {{ range .Files }}
      {{ if $root.Request.CanEdit }}
        #delete-modal-{{ .ID }}:target,
        #edit-modal-{{ .ID }}:target,
      {{ end }}

      {{ if $root.Request.CanShare }}
        #share-form-{{ .ID }}:target,
      {{ end }}

      {{ if $root.Request.CanWebhook }}
        #webhook-form-{{ .ID }}:target,
      {{ end }}
    {{ end }}
    #folder-modal:target {
      display: flex;
      z-index: 5;
    }

    {{ range .Files }}
      {{ if $root.Request.CanEdit }}
        #delete-modal-{{ .ID }}:target ~ .content,
        #edit-modal-{{ .ID }}:target ~ .content,
      {{ end }}

      {{ if $root.Request.CanShare }}
        #share-form-{{ .ID }}:target ~ .content,
      {{ end }}

      {{ if $root.Request.CanWebhook }}
        #webhook-form-{{ .ID }}:target ~ .content,
      {{ end }}
    {{ end }}
    #folder-modal:target ~ .content {
      pointer-events: none;
    }

    {{ if eq .Request.Display "list" }}
      .file-download,
      .file-edit,
      .file-delete,
      .file-share {
        display: none;
      }

      .file-edit,
      .file-delete,
      .file-share {
        margin-left: 0.5rem;
      }

      .file:hover .file-download,
      .file:hover .file-edit,
      .file:hover .file-delete,
      .file:hover .file-share {
        display: inline-block;
      }

      .file-download .icon,
      .file-edit .icon,
      .file-delete .icon,
      .file-share .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .file-download,
        .file-edit,
        .file-delete,
        .file-share {
          display: inline-block;
        }
      }
    {{ else }}
      .file-download,
      .file-edit,
      .file-delete,
      .file-share {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
      }

      .file-download {
        left: 0.5rem;
        top: 0.5rem;
      }

      .file-share {
        left: 0.5rem;
        top: 4.5rem;
      }

      .file-edit {
        right: 0.5rem;
        top: 0.5rem;
      }

      .file-delete {
        right: 0.5rem;
        top: 4.5rem;
      }

      #files > *:hover .file-edit,
      #files > *:hover .file-download,
      #files > *:hover .file-share,
      #files > *:hover .file-delete {
        display: block;
      }
    {{ end }}
  </style>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list">
        <img class="icon" src="{{ url "/svg/list?fill=silver" }}" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid">
        <img class="icon" src="{{ url "/svg/th?fill=silver" }}" alt="Grid">
      </a>

      <span class="padding-left {{ if .Request.CanEdit }}hide-s{{ end }}">{{ len .Files }}<span {{ if .Request.CanEdit }}class="hide-xs"{{ end }}> element{{ if gt (len .Files) 1 }}s{{ end }}</span></span>
      <span class="flex-grow"></span>

      {{ if .Request.CanEdit }}
        <a href="#upload-modal" class="button button-icon">
          <img class="icon" src="{{ url "/svg/cloud-upload-alt?fill=silver" }}" alt="Upload">
        </a>
        <a href="#folder-modal" class="button button-icon">
          <img class="icon" src="{{ url "/svg/folder?fill=silver" }}" alt="Create folder">
        </a>
      {{ end }}

      {{ if .Request.CanShare }}
        <a href="#share-list" class="button button-icon">
          <img class="icon" src="{{ url "/svg/share-alt-square?fill=silver" }}" alt="Share">
        </a>
      {{ end }}

      {{ if .Request.CanWebhook }}
        <a href="#webhook-list" class="button button-icon">
          <img class="icon" src="{{ url "/svg/webhook?fill=silver" }}" alt="Webhook">
        </a>
      {{ end }}

      {{ if gt (len .Files) 0 }}
        <a class="padding" href="?download" download>
          <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="Download">
        </a>
      {{ end }}

      {{ if .HasMap }}
        <a class="padding" href="#map" download>
          <img class="icon" src="{{ url "/svg/map?fill=silver" }}" alt="View on map">
        </a>
      {{ end }}
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li class="tile relative {{ if or (ne $root.Request.Display "grid") (not (hasThumbnail .)) }}file{{ end }}">
          <a class="filelink center ellipsis" href="{{ .URL }}{{ if .IsDir }}?d={{ $root.Request.LayoutPath ($root.Request.AbsoluteURL .URL) }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Request.Display "grid") (hasThumbnail .) }}
              {{ template "async-image-item" . }}

              {{ if .IsVideo }}
                <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192,192,192,0.8)" }}" alt="Play video">
              {{ end }}
            {{ else }}
              <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/" }}{{ if .IsDir }}folder{{ else }}{{ iconFromExtension . }}{{ end }}?fill=silver" alt="{{ if .IsDir }}Folder{{ else }}File{{ end }}">
              <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .Name }}</span>
            {{ end }}

            <a href="{{ .URL }}?download" class="button button-icon file-download" alt="Download" download="{{ .Name }}">
              <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="Download">
            </a>

            {{ if $root.Request.CanEdit }}
              <a href="#delete-modal-{{ .ID }}" class="button button-icon file-delete" alt="Delete">
                <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="Delete">
              </a>
              <a href="#edit-modal-{{ .ID }}" class="button button-icon file-edit" alt="Edit">
                <img class="icon" src="{{ url "/svg/pencil-alt?fill=silver" }}" alt="Edit">
              </a>
            {{ end }}

            {{ if $root.Request.CanShare }}
              <a href="#share-form-{{ .ID }}" class="button button-icon file-share" alt="Share">
                <img class="icon" src="{{ url "/svg/share-alt-square?fill=silver" }}" alt="Share {{ .Name }}">
              </a>
            {{ end }}
          </a>

          {{ if .IsDir }}
            {{ if or .Aggregate.Location (not .Aggregate.Start.IsZero) }}
              {{- $startDate := .Aggregate.Start.Format "Jan 2006" -}}
              {{- $endDate := .Aggregate.End.Format "Jan 2006" -}}

              {{- if eq $root.Request.Display "grid" -}}
                <img
                  class="icon exif"
                  src="{{ url "/svg/info" }}?fill=silver"
                  alt="Exif"
                  title="
                    {{- if .Aggregate.Location }}
                      {{- .Aggregate.Location }}
                    {{- end }}

                    {{- if not .Aggregate.Start.IsZero }}
                      {{- if and .Aggregate.Location }}
{{ end }}
                      {{- $startDate }}
                    {{- end }}

                    {{- if ne $startDate $endDate }} - {{ $endDate }}
                    {{- end -}}
                  "
                >
              {{ else }}
                <em class="exif ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">
                  (

                  {{- if .Aggregate.Location }}
                    {{- .Aggregate.Location }}
                  {{- end }}

                  {{- if not .Aggregate.Start.IsZero }}
                    {{- if and .Aggregate.Location }}
                      |
                    {{ end }}

                    {{- $startDate }}

                    {{- if ne $startDate $endDate }}
                      - {{ $endDate }}
                    {{- end }}
                  {{- end -}}

                  )
                </em>
              {{ end}}
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
