{{ define "file" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  <style type="text/css" nonce="{{ .nonce }}">
    body {
      background-color: var(--white);
      display: grid;
      grid-template-rows: auto 1fr;
    }

    #content {
      display: flex;
      overflow: auto;
      position: relative;
    }

    img, video, object {
      border: 0;
      image-orientation: from-image;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: top left;
    }

    object {
      width: 100%;
    }

    img, video {
      object-position: center center;
    }

    .code {
      font-family: Courier new;
    }

    .exif-button {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }

    #exif-modal:target {
      display: flex;
      z-index: 5;
    }

    #exif-modal:target ~ .content {
      pointer-events: none;
    }
  </style>

  {{ if .Exif }}
    <div id="exif-modal" class="modal">
      <div class="modal-content">
        <h2 class="header">Exif data</h2>

        {{ if not .Exif.Date.IsZero }}
          <p class="padding no-margin code">
            <strong>Date:</strong> {{ .Exif.Date }}<br>
          </p>
        {{ end }}

        {{ if .Exif.Geocode.Address }}
          <p class="padding no-margin code">
            <strong>Location</strong><br>

            {{ range $key, $value := .Exif.Geocode.Address }}
                <em>{{ $key }}:</em> {{ $value }}<br>
            {{ end }}
          </p>
        {{ end }}

        <p class="padding no-margin code">
          {{ range $key, $value := .Exif.Data }}
            <strong>{{ $key }}:</strong> {{ $value }}<br>
          {{ end }}
        </p>

        <p class="padding no-margin center">
          <a href="#" class="button white">Close</a>
        </p>
      </div>
    </div>
  {{ end }}

  <div id="content">
    {{ if .File.IsVideo }}
      <video controls>
        {{ if .HasStream }}
          <source src="{{ .File.Name }}?stream" type="application/x-mpegURL"></source>
        {{ end }}
        <source src="{{ .File.Name }}" type="{{ .File.Mime }}"></source>
      </video>
    {{ else }}
      {{ if .File.IsImage }}
        <img src="{{ .File.Name }}" alt="{{ .File.Name }}" />
      {{ else }}
        <object data="{{ .File.Name }}" type="{{ .File.Mime }}"></object>
      {{ end }}
    {{ end }}

    {{ if .Exif }}
      <a href="#exif-modal" class="button button-icon exif-button" alt="Show exif">
        <img class="icon exif" src="{{ url "/svg/info" }}?fill=black" alt="Exif">
      </a>
    {{ end }}
  </div>

  {{ template "footer" . }}
{{ end }}
