{{ define "file" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  <style type="text/css" nonce="{{ .nonce }}">
    body {
      background-color: var(--white);
      display: grid;
      grid-template-rows: auto 1fr;
    }

    .image {
      background-image: url({{ .File.Name }});
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%;
    }

    video, object {
      border: 0;
      height: 100%;
      image-orientation: from-image;
      margin: 0 auto;
      object-fit: contain;
      object-position: top left;
      width: 100%;
    }

    video {
      object-position: center center;
    }
  </style>

  {{ if .File.IsVideo }}
    <video id="content" controls>
      {{ if .HasStream }}
        <source src="{{ .File.Name }}?stream" type="application/x-mpegURL"></source>
      {{ end }}
      <source src="{{ .File.Name }}" type="{{ .File.Mime }}"></source>
    </video>
  {{ else }}
    {{ if .File.IsImage }}
      <div id="content" class="image" title="{{ .File.Name }}"></div>
    {{ else }}
      <object id="content" data="{{ .File.Name }}" type="{{ .File.Mime }}"></object>
    {{ end }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
