{{ define "files" }}
  {{ template "header" . }}
  {{ template "layout" . }}
  {{ template "throbber" . }}

  {{ $root := . }}

  {{ if .Request.CanEdit }}
    {{ template "upload-modal" . }}
    {{ template "folder-modal" . }}
  {{ end }}

  {{ if .Request.CanShare }}
    {{ template "share-directory" . }}
    {{ template "share-list" . }}
  {{ end }}

  {{ if .Request.CanWebhook }}
    {{ template "webhook-directory" . }}
    {{ template "webhook-list" . }}
  {{ end }}

  {{ range .Files }}
    {{ if $root.Request.CanEdit }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}
    {{ end }}

    {{ if $root.Request.CanShare }}
      {{ template "share-file" . }}
    {{ end }}
  {{ end }}

  {{ if $root.HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  {{ if eq .Request.Display "grid" }}
    <script type="text/javascript" nonce="{{ .nonce }}">
      // from https://developers.google.com/speed/webp/faq#how_can_i_detect_browser_support_for_webp
      async function isWebPCompatible() {
        const animatedImage = 'UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA';

        return new Promise((resolve, reject) => {
          var image = new Image();
          image.onload = () => {
            if (image.width > 0 && image.height > 0) {
              resolve();
            } else {
              reject();
            }
          };

          image.onerror = reject;
          image.src = `data:image/webp;base64,${animatedImage}`;
        });
      }

      /**
       * Restore default layout when no thumbnail is possible
       */
      function displayNoThumbnail(img) {
        img.src = '{{ url "/svg/file-image?fill=silver" }}';
        img.classList.add('icon', 'icon-large');
        img.alt = 'Image file';

        const span = document.createElement('span');
        span.classList.add('filename', 'ellipsis');
        span.innerHTML = img.dataset.alt;
        img.after(span)
      }

      window.addEventListener(
        'load',
        async () => {
          const thumbnails = document.querySelectorAll('[data-thumbnail]');
          if (!thumbnails) {
            return;
          }

          try {
            await isWebPCompatible();
          } catch (e) {
            console.error('Your browser is not compatible with WebP format.', e);
            document.querySelectorAll('[data-thumbnail]').forEach(displayNoThumbnail);
          }
        },
        false,
      );
    </script>
  {{ end }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }

    #files {
      list-style: none;
    }

    .thumbnail {
      max-height: 100%;
    }

    {{ range .Files }}
      {{ if $root.Request.CanEdit }}
        #delete-modal-{{ .ID }}:target,
        #edit-modal-{{ .ID }}:target,
      {{ end }}

      {{ if $root.Request.CanShare }}
        #share-form-{{ .ID }}:target,
      {{ end }}

      {{ if $root.Request.CanWebhook }}
        #webhook-form-{{ .ID }}:target,
      {{ end }}
    {{ end }}
    #map:target,
    #upload-modal:target,
    #upload-success:target,
    #folder-modal:target,
    #share-form:target,
    #share-list:target,
    #webhook-form:target,
    #webhook-list:target {
      display: flex;
      z-index: 5;
    }

    {{ range .Files }}
      {{ if $root.Request.CanEdit }}
        #delete-modal-{{ .ID }}:target ~ .content,
        #edit-modal-{{ .ID }}:target ~ .content,
      {{ end }}

      {{ if $root.Request.CanShare }}
        #share-form-{{ .ID }}:target ~ .content,
      {{ end }}

      {{ if $root.Request.CanWebhook }}
        #webhook-form-{{ .ID }}:target ~ .content,
      {{ end }}
    {{ end }}
    #map:target ~ .content,
    #upload-modal:target ~ .content,
    #upload-success:target ~ .content,
    #folder-modal:target ~ .content,
    #share-form:target ~ .content,
    #share-list:target ~ .content,
    #webhook-form:target ~ .content,
    #webhook-list:target ~ .content {
      pointer-events: none;
    }

    {{ if eq .Request.Display "list" }}
      #list-display {
        background-color: var(--primary);
      }

      .file {
        align-items: center;
        display: flex;
        margin: 0.5rem 1rem 0;
      }

      @media screen and (min-width: 640px) {
        .file .button-icon {
          padding: 0;
        }
      }

      .filelink {
        align-items: center;
        display: inline-flex;
        height: 2.5rem;
        width: 45rem;
      }

      .filename {
        display: inline-block;
        flex: 1 1;
        text-align: left;
      }

      .exif {
        display: inline-block;
        flex: 0.5 0.5;
        font-size: 1rem;
        text-align: right;
      }

      .file-download,
      .file-edit,
      .file-delete,
      .file-share {
        display: none;
      }

      .file-edit,
      .file-delete,
      .file-share {
        margin-left: 0.5rem;
      }

      .file:hover .file-download,
      .file:hover .file-edit,
      .file:hover .file-delete,
      .file:hover .file-share {
        display: inline-block;
      }

      .file-download .icon,
      .file-edit .icon,
      .file-delete .icon,
      .file-share .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .filelink {
          flex: 1 1;
          width: auto;
        }

        .file-download,
        .file-edit,
        .file-delete,
        .file-share {
          display: inline-block;
        }
      }
    {{ end }}

    {{ if eq .Request.Display "grid" }}
      #grid-display {
        background-color: var(--primary);
      }

      #files {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        margin: .5rem;
      }

      #files > * {
        align-items: center;
        background-color: var(--grey);
        display: flex;
        min-height: 14rem;
        position: relative;
      }

      .file {
        padding: 0.5rem;
      }

      .filelink {
        width: 100%;
      }

      .filelink picture img {
        vertical-align: middle;
        width: 100%;
      }

      .filename {
        display: block;
        margin-top: 0.5rem;
        text-align: center;
      }

      .exif {
        position: absolute;
        bottom: 0.5rem;
        right:  0.5rem;
      }

      .file-download,
      .file-edit,
      .file-delete,
      .file-share {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
      }

      .file-download {
        left: 0.5rem;
        top: 0.5rem;
      }

      .file-share {
        left: 0.5rem;
        top: 4.5rem;
      }

      .file-edit {
        right: 0.5rem;
        top: 0.5rem;
      }

      .file-delete {
        right: 0.5rem;
        top: 4.5rem;
      }

      #files > *:hover .file-edit,
      #files > *:hover .file-download,
      #files > *:hover .file-share,
      #files > *:hover .file-delete {
        display: block;
      }
    {{ end }}
  </style>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list">
        <img class="icon" src="{{ url "/svg/list?fill=silver" }}" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid">
        <img class="icon" src="{{ url "/svg/th?fill=silver" }}" alt="Grid">
      </a>

      <span class="padding-left {{ if .Request.CanEdit }}hide-s{{ end }}">{{ len .Files }}<span {{ if .Request.CanEdit }}class="hide-xs"{{ end }}> element{{ if gt (len .Files) 1 }}s{{ end }}</span></span>
      <span class="flex-grow"></span>

      {{ if .Request.CanEdit }}
        <a href="#upload-modal" class="button button-icon">
          <img class="icon" src="{{ url "/svg/cloud-upload-alt?fill=silver" }}" alt="Upload">
        </a>
        <a href="#folder-modal" class="button button-icon">
          <img class="icon" src="{{ url "/svg/folder?fill=silver" }}" alt="Create folder">
        </a>
      {{ end }}

      {{ if .Request.CanShare }}
        <a href="#share-list" class="button button-icon">
          <img class="icon" src="{{ url "/svg/share-alt-square?fill=silver" }}" alt="Share">
        </a>
      {{ end }}

      {{ if .Request.CanWebhook }}
        <a href="#webhook-list" class="button button-icon">
          <img class="icon" src="{{ url "/svg/webhook?fill=silver" }}" alt="Webhook">
        </a>
      {{ end }}

      {{ if gt (len .Files) 0 }}
        <a class="padding" href="?download" download>
          <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="Download">
        </a>
      {{ end }}

      {{ if $root.HasMap }}
        <a class="padding" href="#map" download>
          <img class="icon" src="{{ url "/svg/map?fill=silver" }}" alt="View on map">
        </a>
      {{ end }}
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        {{ if and (eq $root.Request.Display "grid") (hasThumbnail .) }}
          <li class="image relative">
        {{ else }}
          <li class="file">
        {{ end }}
          <a class="filelink center ellipsis" href="{{ .Name }}{{ if .IsDir }}/?d={{ $root.Request.Layout .Name }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Request.Display "grid") (hasThumbnail .) }}
              <picture class="no-margin">
                <img data-thumbnail src="{{ publicURL ($root.Request.URL .Name) }}?thumbnail&v={{ $root.Version }}" alt="Thumbnail of {{ .Name }}" />
              </picture>
            {{ else }}
              {{ if .IsDir }}
                <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/folder?fill=silver" }}" alt="Folder">
              {{ else }}
                <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/" }}{{ iconFromExtension . }}?fill=silver" alt="File">
              {{ end }}
              <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .Name }}</span>

              {{ if .IsDir }}
                {{ if or .Aggregate.Location (not .Aggregate.Start.IsZero) }}
                  {{- $startDate := .Aggregate.Start.Format "Jan 2006" -}}
                  {{- $endDate := .Aggregate.End.Format "Jan 2006" -}}

                  {{- if eq $root.Request.Display "grid" -}}
                    <img
                      class="icon exif"
                      src="{{ url "/svg/info" }}?fill=silver"
                      alt="Exif"
                      title="
                        {{- if .Aggregate.Location }}
                          {{- .Aggregate.Location }}
                        {{- end }}

                        {{- if not .Aggregate.Start.IsZero }}
                          {{- if and .Aggregate.Location }}
{{ end }}
                          {{- $startDate }}
                        {{- end }}

                        {{- if ne $startDate $endDate }} - {{ $endDate }}
                        {{- end -}}
                      "
                    >
                  {{ else }}
                    <em class="exif ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">
                      (

                      {{- if .Aggregate.Location }}
                        {{- .Aggregate.Location }}
                      {{- end }}

                      {{- if not .Aggregate.Start.IsZero }}
                        {{- if and .Aggregate.Location }}
                          |
                        {{ end }}

                        {{- $startDate }}

                        {{- if ne $startDate $endDate }}
                          - {{ $endDate }}
                        {{- end }}
                      {{- end -}}

                      )
                    </em>
                  {{ end}}
                {{ end }}
              {{ end }}
            {{ end }}

            <a href="{{ .Name }}?download" class="button button-icon file-download" alt="Download" download>
              <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="Download">
            </a>

            {{ if $root.Request.CanEdit }}
              <a href="#delete-modal-{{ .ID }}" class="button button-icon file-delete" alt="Delete">
                <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="Delete">
              </a>
              <a href="#edit-modal-{{ .ID }}" class="button button-icon file-edit" alt="Edit">
                <img class="icon" src="{{ url "/svg/pencil-alt?fill=silver" }}" alt="Edit">
              </a>
            {{ end }}

            {{ if $root.Request.CanShare }}
              <a href="#share-form-{{ .ID }}" class="button button-icon file-share" alt="Share">
                <img class="icon" src="{{ url "/svg/share-alt-square?fill=silver" }}" alt="Share {{ .Name }}">
              </a>
            {{ end }}

            {{ if and (eq $root.Request.Display "grid") (hasThumbnail .) .IsVideo }}
              <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192, 192, 192, 0.8)" }}" alt="Play video">
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
