{{ define "files" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  {{ $root := . }}

  <link rel="preload" as="image" href="{{ url "/svg/list?fill=silver" }}">
  <link rel="preload" as="image" href="{{ url "/svg/grid?fill=silver" }}">

  {{ if .Request.CanEdit }}
    <link rel="preload" as="image" href="{{ url "/svg/upload?fill=silver" }}">
    <link rel="preload" as="image" href="{{ url "/svg/folder?fill=silver" }}">
    <link rel="preload" as="image" href="{{ url "/svg/times?fill=crimson" }}">
    <link rel="preload" as="image" href="{{ url "/svg/pencil-alt?fill=silver" }}">

    {{ template "upload-modal" . }}
    {{ template "folder-modal" . }}
  {{ end }}

  {{ if .Request.CanShare }}
    <link rel="preload" as="image" href="{{ url "/svg/share?fill=silver" }}">

    {{ template "share-directory" . }}
    {{ template "share-list" . }}
  {{ end }}

  {{ if .Request.CanWebhook }}
    <link rel="preload" as="image" href="{{ url "/svg/webhook?fill=silver" }}">

    {{ template "webhook-directory" . }}
    {{ template "webhook-list" . }}
  {{ end }}

  {{ range .SavedSearches }}
    {{ if $root.Request.CanEdit }}
      {{ template "delete-saved-search-modal" . }}
    {{ end }}
  {{ end }}

  {{ range .Files }}
    {{ if $root.Request.CanEdit }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}
    {{ end }}

    {{ if $root.Request.CanShare }}
      {{ template "share-file" . }}
    {{ end }}
  {{ end }}

  {{ template "push-form" . }}
  {{ template "search-modal" . }}
  {{ template "items-style" . }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }

    .delete-modal:target,
    .edit-modal:target,
    .share-form:target,
    .webhook-form:target,
    .push-form:target,
    .folder-modal:target {
      display: flex;
      z-index: 5;
    }

    .delete-modal:target ~ .content,
    .edit-modal:target ~ .content,
    .share-form:target ~ .content,
    .webhook-form:target ~ .content,
    .push-form:target ~ .content,
    .folder-modal:target ~ .content {
      pointer-events: none;
    }

    {{ if eq .Request.Display "list" }}
      .file-download,
      .file-edit,
      .file-delete,
      .search-delete,
      .file-share {
        display: none;
      }

      .file-edit,
      .file-delete,
      .search-delete,
      .file-share {
        margin-left: 0.5rem;
      }

      .file:hover .file-download,
      .file:hover .file-edit,
      .file:hover .file-delete,
      .file:hover .search-delete,
      .file:hover .file-share {
        display: inline-block;
      }

      .file-download .icon,
      .file-edit .icon,
      .file-delete .icon,
      .search-delete .icon,
      .file-share .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .file-download,
        .file-edit,
        .file-delete,
        .search-delete,
        .file-share {
          display: inline-block;
        }
      }

      #files > *:hover {
        background-color: var(--grey);
      }
    {{ else }}
      .file-download,
      .file-edit,
      .file-delete,
      .search-delete,
      .file-share {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
      }

      .file-download {
        left: 0.5rem;
        top: 0.5rem;
      }

      .file-share {
        left: 0.5rem;
        top: 4.5rem;
      }

      .file-edit {
        right: 0.5rem;
        top: 0.5rem;
      }

      .file-delete {
        right: 0.5rem;
        top: 4.5rem;
      }

      .search-delete {
        right: 0.5rem;
        top: 0.5rem;
      }

      #files > *:hover .file-edit,
      #files > *:hover .file-download,
      #files > *:hover .file-delete,
      #files > *:hover .search-delete,
      #files > *:hover .file-share {
        display: block;
      }
    {{ end }}
  </style>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list" title="List layout">
        <img class="icon" src="{{ url "/svg/list?fill=silver" }}" alt="list">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid" title="Grid layout">
        <img class="icon" src="{{ url "/svg/grid?fill=silver" }}" alt="grid">
      </a>
      {{ if .HasStory }}
        <a id="story-display" class="button button-icon" href="?d=story" title="Story layout">
          <img class="icon" src="{{ url "/svg/image?fill=silver" }}" alt="picture">
        </a>
      {{ end }}

      <span class="padding-left {{ if .Request.CanEdit }}hide-s{{ end }}">{{ len .Files }}<span {{ if .Request.CanEdit }}class="hide-xs"{{ end }}> element{{ if gt (len .Files) 1 }}s{{ end }}</span></span>
      <span class="flex-grow"></span>

      <a id="push-form-button" href="#push-form" class="button button-icon hidden" title="Push Notification">
        <img class="icon" src="{{ url "/svg/push?fill=silver" }}" alt="notification">
      </a>

      {{ if .Request.CanEdit }}
        <a id="upload-button-link" href="#upload-modal" class="button button-icon" title="Upload file">
          <img class="icon" src="{{ url "/svg/upload?fill=silver" }}" alt="upload">
        </a>
        <a href="#folder-modal" class="button button-icon" title="Create folder">
          <img class="icon" src="{{ url "/svg/folder-plus?fill=silver" }}" alt="folder with a plus">
        </a>
      {{ end }}

      {{ if .Request.CanShare }}
        <a href="#share-list" class="button button-icon" title="Share">
          <img class="icon" src="{{ url "/svg/share?fill=silver" }}" alt="share">
        </a>
      {{ end }}

      {{ if .Request.CanWebhook }}
        <a href="#webhook-list" class="button button-icon" title="Webhook">
          <img class="icon" src="{{ url "/svg/webhook?fill=silver" }}" alt="webhook">
        </a>
      {{ end }}

      {{ if gt (len .Files) 0 }}
        <a class="padding" href="?download" title="Download files in an archive" download>
          <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="download">
        </a>
      {{ end }}

      {{ if .HasMap }}
        <a class="padding" href="#map" title="View on map">
          <img class="icon" src="{{ url "/svg/map?fill=silver" }}" alt="map">
        </a>
      {{ end }}
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .SavedSearches }}
        <li class="file relative padding-half">
          <a class="filelink center ellipsis" href="?{{ raw .Query }}" title="Saved search {{ .Name }}">
            <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/folder-search?fill=silver" }}" alt="folder with magnifying glass">
            <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .Name }}</span>

            {{ if $root.Request.CanEdit }}
              <a href="#delete-saved-search-modal-{{ .ID }}" class="button button-icon search-delete" title="Delete">
                <img class="icon icon-square" src="{{ url "/svg/times?fill=crimson" }}" alt="delete">
              </a>
            {{ end }}
          </a>
        </li>
      {{ end }}

      {{ $needPDF := false }}

      {{ range .Files }}
        <li class="file relative {{ if not .HasThumbnail }}padding-half{{ end }}">
          <a class="filelink center ellipsis" href="{{ .URL }}{{ if .IsDir }}?d={{ $root.Request.LayoutPath ($root.Request.AbsoluteURL .URL) }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Request.Display "grid") .HasThumbnail }}
              {{ template "async-image-item" . }}

              {{ if .IsVideo }}
                <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(39,39,39,0.8)" }}" alt="play icon" title="Play video">
              {{ end }}

              {{ if .IsCover }}
                <img class="icon icon-overlay-small" src="{{ url "/svg/rss?fill=rgba(39,39,39,0.8)" }}" alt="waves" title="Is cover image">
              {{ end }}
            {{ else }}
              <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/" }}{{ if .IsDir }}folder{{ else }}{{ iconFromExtension . }}{{ end }}?fill=silver" alt="{{ if .IsDir }}folder{{ else }}file{{ end }}">
              <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .Name }}</span>
            {{ end }}

            {{ if and (not .HasThumbnail) .IsPDF }}
              {{ $needPDF = true }}
              {{ template "async-pdf-item" . }}
            {{ end }}

            <a href="{{ .URL }}?download" class="button button-icon file-download" title="Download {{ .Name }}" download="{{ .Name }}">
              <img class="icon icon-square" src="{{ url "/svg/download?fill=silver" }}" alt="download">
            </a>

            {{ if $root.Request.CanShare }}
              <a href="#share-form-{{ .ID }}" class="button button-icon file-share" title="Share {{ .Name }}">
                <img class="icon icon-square" src="{{ url "/svg/share?fill=silver" }}" alt="share">
              </a>
            {{ end }}

            {{ if $root.Request.CanEdit }}
              <a href="#edit-modal-{{ .ID }}" class="button button-icon file-edit" title="Edit {{ .Name }}">
                <img class="icon icon-square" src="{{ url "/svg/pencil-alt?fill=silver" }}" alt="edit">
              </a>
              <a href="#delete-modal-{{ .ID }}" class="button button-icon file-delete" title="Delete {{ .Name }}">
                <img class="icon icon-square" src="{{ url "/svg/times?fill=crimson" }}" alt="delete">
              </a>
            {{ end }}
          </a>

          {{ if .Tags }}
            {{- if eq $root.Request.Display "grid" -}}
              <img class="icon tags" src="{{ url "/svg/tag" }}?fill=silver" alt="tag" title="#{{ join .Tags " #" }}">
            {{ else }}
              <em class="tags ellipsis padding-left">
                #{{ join .Tags " #" }}
              </em>
            {{ end}}
          {{ end }}

          {{ if .IsDir }}
            {{ if or .Aggregate.Location (not .Aggregate.Start.IsZero) }}
              {{- $startDate := .Aggregate.Start.Format "Jan 2006" -}}
              {{- $endDate := .Aggregate.End.Format "Jan 2006" -}}

              {{- if eq $root.Request.Display "grid" -}}
                <img
                  class="icon exif"
                  src="{{ url "/svg/info" }}?fill=silver"
                  alt="exif"
                  title="
                    {{- if .Aggregate.Location }}
                      {{- .Aggregate.Location }}
                    {{- end }}

                    {{- if not .Aggregate.Start.IsZero }}
                      {{- if and .Aggregate.Location }}
{{ end }}
                      {{- $startDate }}
                    {{- end }}

                    {{- if ne $startDate $endDate }} - {{ $endDate }}
                    {{- end -}}
                  "
                >
              {{ else }}
                <em class="exif ellipsis padding-left">
                  (

                  {{- if .Aggregate.Location }}
                    {{- .Aggregate.Location }}
                  {{- end }}

                  {{- if not .Aggregate.Start.IsZero }}
                    {{- if and .Aggregate.Location }}
                      |
                    {{ end }}

                    {{- $startDate }}

                    {{- if ne $startDate $endDate }}
                      - {{ $endDate }}
                    {{- end }}
                  {{- end -}}

                  )
                </em>
              {{ end}}
            {{ else }}
              {{- if eq $root.Request.Display "list" -}}
                <em class="exif padding-left"></em>
              {{ end }}
            {{ end }}
          {{ else }}
            {{- if eq $root.Request.Display "list" -}}
              <em class="exif padding-left"></em>
            {{ end }}
          {{ end }}
        </li>
      {{ end }}

      {{ if and (eq .Request.Display "grid") .HasThumbnail }}
        <script type="text/javascript" nonce="{{ .nonce }}">
          const hasThumbnail = true;
        </script>
      {{ end }}

      {{ if and (eq .Request.Display "grid") $needPDF }}
        <script type="text/javascript" nonce="{{ .nonce }}">
          document.addEventListener("readystatechange", (event) => {
            if (event.target.readyState !== "complete") {
              return;
            }
            resolveScript("/scripts/pdf.mjs", "", "", "module");
          });
        </script>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
