{{ define "file" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  <style type="text/css" nonce="{{ .nonce }}">
    body {
      background-color: var(--white);
      display: grid;
      grid-template-rows: auto 1fr;
    }

    #content {
      display: flex;
      overflow: auto;
      position: relative;
    }

    img, video, object {
      border: 0;
      image-orientation: from-image;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: top left;
    }

    object {
      width: 100%;
    }

    img, video {
      object-position: center center;
    }

    .code {
      font-family: 'Courier new', Monospace;
    }
  </style>

  {{ template "exif-modal" . }}

  <div id="content">
    {{ $url := "" }}
    {{ if .Request.Share.File }}
      {{ $url = url (.Request.AbsoluteURL "/") }}
    {{ else }}
      {{ $url = url (.Request.AbsoluteURL .File.URL) }}
    {{ end }}

    {{ if .File.IsVideo }}
      <video controls>
        {{ if .HasStream }}
          <source src="{{ $url }}?stream" type="application/x-mpegURL"></source>
        {{ end }}
        <source src="{{ $url }}" type="{{ .File.Mime }}"></source>
      </video>
    {{ else }}
      {{ if .File.IsImage }}
        <img src="{{ $url }}" alt="{{ .File.Name }}" />
      {{ else }}
        <object data="{{ $url }}" type="{{ .File.Mime }}"></object>
      {{ end }}
    {{ end }}

    {{ template "exif-modal-btn" . }}
  </div>

  {{ template "footer" . }}
{{ end }}
