{{ define "layout" }}
  {{ $root := . }}

  {{ template "navigation" . }}

  <header class="header full-screen{{ if .File }} flex flex-center{{ end }}">
    {{ if .File }}
      <span class="flex-grow flex-ellipsis">
    {{ end }}

    <h1 class="medium no-margin no-padding" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {{ template "root_link" . }}
      </span>

      {{ range $index, $path := .Paths }}
        {{ if or (not $root.Request.Share.ID) (ne $index 0) }}
          {{ $fullPath := rebuildPaths $root.Paths $index }}

          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             / 
            <a href="{{ url $fullPath }}/?d={{ $root.Request.LayoutPath $fullPath }}" itemprop="item">
              <span itemprop="name">{{ $path }}</span>
            </a>
          </span>
        {{ end }}
      {{ end }}
    </h1>

    {{ if .File }}
        <h2 class="small bg-grey no-margin full ellipsis">
          ↳&nbsp;
          <a href="{{ .File.Name }}">{{ .File.Name }}</a>
        </h2>
      </span>

      {{ if or .Previous .Next }}
        <nav class="flex">
          {{ if .Previous }}
            <a class="button button-icon" href="{{ .Previous.Name }}{{ if not .Previous.IsDir }}?browser{{ end }}">
              <img class="icon" src="{{ url "/svg/arrow-left?fill=silver" }}" alt="Previous file">
            </a>
          {{ end }}

          {{ if .Next }}
            <a class="button button-icon" href="{{ .Next.Name }}{{ if not .Next.IsDir }}?browser{{ end }}">
              <img class="icon" src="{{ url "/svg/arrow-right?fill=silver" }}" alt="Next file">
            </a>
          {{ end }}
        </nav>
      {{ end }}
    {{ end }}
  </header>

  <style type="text/css" nonce="{{ .nonce }}">
    .message {
      word-break: break-word;
    }
  </style>

  {{ if .Message }}
    {{ template "message" .Message }}
  {{ end }}
{{ end }}
