{{ define "layout" }}
  {{ $root := . }}

  {{ template "navigation" . }}

  <header class="header full-screen flex flex-center">
    <span class="flex-grow flex-ellipsis">
      <h1 class="medium no-margin no-padding breakable" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {{ template "root-link" . }}
        </span>

        {{ range $index, $path := .Paths }}
          {{ if or (not $root.Request.Share.ID) (ne $index 0) }}
            {{ $fullPath := rebuildPaths $root.Paths $index }}

            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
               / 
              <a href="{{ url $fullPath }}?d={{ $root.Request.LayoutPath $fullPath }}" itemprop="item">
                <span itemprop="name">{{ $path }}</span>
              </a>
            </span>
          {{ end }}
        {{ end }}
      </h1>

    {{ if .File }}
        {{ if not .Request.Share.File }}
          <h2 class="small bg-grey no-margin full ellipsis">
            ↳&nbsp;
            <a href="{{ .File.Name }}">{{ .File.Name }}</a>
          </h2>
        {{ end }}
      </span>

      <nav class="flex">
        {{ if not .Previous.IsZero }}
          <a class="button button-icon" href="{{ url (.Request.AbsoluteURL .Previous.URL) }}?browser" title="Previous file">
            <img class="icon" src="{{ url "/svg/arrow-left?fill=silver" }}" alt="left arrow">
          </a>
        {{ end }}

        {{ if not .Next.IsZero }}
          <a class="button button-icon" href="{{ url (.Request.AbsoluteURL .Next.URL) }}?browser" title="Next file">
            <img class="icon" src="{{ url "/svg/arrow-right?fill=silver" }}" alt="right arrow">
          </a>
        {{ end }}

        {{- $url := .Request.AbsoluteURL "/" }}
        <a class="button button-icon" href="{{ url $url }}?d={{ .Request.LayoutPath $url }}" title="Back to folder">
          <img class="icon" src="{{ url "/svg/folder-back?fill=silver" }}" alt="folder back">
        </a>
      </nav>
    {{ else }}
      </span>
      {{ if .Request.Share.Story }}
        {{ if .HasMap }}
          <a class="padding" href="#map" title="View on map">
            <img class="icon" src="{{ url "/svg/map?fill=silver" }}" alt="map">
          </a>
        {{ end }}
      {{ else }}
        {{ if and .Request.CanEdit .Search }}
          <a class="padding" href="#create-saved-search" title="Created saved search folder">
            <img class="icon" src="{{ url "/svg/folder-search?fill=" }}silver" alt="folder with magnifying glass">
          </a>
        {{ end }}
        <a class="padding" href="#search" title="Search files">
          <img class="icon" src="{{ url "/svg/search?fill=" }}{{ if .Search }}limegreen{{ else }}silver{{ end }}" alt="magnifying glass">
        </a>
      {{ end }}
    {{ end }}
  </header>

  {{ if .Message }}
    {{ template "message" .Message }}
  {{ end }}
{{ end }}
