{{ define "map-modal" }}
  <div id="map" class="modal">
    <div class="modal-content no-background">
      <h2 class="flex flex-center header no-margin">
        <span>Map</span>
        <span class="flex-grow"></span>
        <a href="#" class="button white small">Close</a>
      </h2>

      <div id="photos-map"></div>

      <style type="text/css" nonce="{{ .nonce }}">
        #photos-map {
          height: 80vh;
          width: 90vw;
        }

        .thumbnail-popup {
          bottom: 55px !important;
          height: 15rem;
          width: 19rem;
        }
      </style>

      <script type="text/javascript" nonce="{{ .nonce }}">
        async function fetchGeoJSON() {
          const response = await fetch('?geojson', { credentials: 'same-origin' });

          if (response.status >= 400) {
            throw new Error('unable to load geojson');
          }

          if (response.status === 204) {
            return null;
          }

          return response.json();
        }

        async function addStyle(src, integrity, crossorigin) {
          return new Promise((resolve) => {
            const style = document.createElement('link');
            style.rel = 'stylesheet';
            style.href = src;
            style.integrity = integrity;
            style.crossOrigin = crossorigin;
            style.onload = resolve;

            document.querySelector('head').appendChild(style);
          });
        }

        async function addScript(src, integrity, crossorigin) {
          return new Promise((resolve) => {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = src;
            script.async = 'true';
            script.integrity = integrity;
            script.crossOrigin = crossorigin;
            script.onload = resolve;

            document.querySelector('head').appendChild(script);
          });
        }

        async function loadLeaflet() {
          await addStyle('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', 'sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', '')
          await addScript('https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', 'sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', '')
        }

        async function renderMap() {
          await loadLeaflet()

          // create Leaflet map
          const map = L.map('photos-map', {
            center: [46.227638, 2.213749], // France 🇫🇷
            zoom: 6,
          });

          // add the OpenStreetMap tiles
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution:
              '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          }).addTo(map);

          const geojson = await fetchGeoJSON();
          if (!geojson || !geojson.features) {
            return;
          }

          // fit bounds of map
          map.fitBounds(
            geojson.features.map((f) => {
              const coordinates = f.geometry.coordinates;
              return [coordinates[1], coordinates[0]];
            })
          );

          // draw geojson
          L.geoJSON(geojson, {
            pointToLayer: function (feature, latlng) {
              return L.circleMarker(latlng, {
                radius: 8,
              });
            },
            onEachFeature: function (feature, layer) {
              layer.bindPopup(
                `<a href="${feature.properties.name}?browser">
                  <img src="${feature.properties.name}?thumbnail" alt="Image thumbnail">
                 </a>
                 <br>
                 <span>${feature.properties.date}</span>`,
                {
                  maxWidth: 'auto',
                  closeButton: false,
                  className: 'thumbnail-popup'
                }
              );
            },
          }).addTo(map);
        }

        function listenTarget(event) {
          if (document.location.hash == '#map') {
            renderMap()
            window.removeEventListener('popstate', listenTarget);
          }
        }

        document.addEventListener('readystatechange', async (event) => {
          if (event.target.readyState === 'complete') {
            if (document.location.hash == '#map') {
              renderMap()
            } else {
              window.addEventListener('popstate', listenTarget);
            }
          }
        });
      </script>
    </div>
  </div>
{{ end }}
