{{ define "map-modal" }}
  <style type="text/css" nonce="{{ .nonce }}">
    #map:target {
      display: flex;
      z-index: 5;
    }

    #map:target ~ .content {
      pointer-events: none;
    }
  </style>

  <div id="map" class="modal">
    <div class="modal-content no-background">
      <h2 class="flex flex-center header no-margin">
        <span>Map</span>
        <span class="flex-grow"></span>
        <a href="#" class="button white small">Close</a>
      </h2>

      {{ $geoURL := "?geojson" }}
      {{ if .Search }}
        {{ $geoURL = printf "%s&%s" $geoURL .Search.Encode }}
      {{ end }}

      <div id="map-container" class="flex flex-center">
        <noscript class="white">
          <h2>You must enable Javascript to have interactive map with pictures.</h2>
          <p>
            GeoJSON data are available on <a class="primary" href="{{ $geoURL }}">this link</a>
          </p>
        </noscript>
      </div>

      <style type="text/css" nonce="{{ .nonce }}">
        #map-container {
          background-color: var(--grey);
          color: var(--dark);
          height: 80vh;
          width: 80vw;
        }

        .thumbnail-img {
          height: 15rem;
        }

        .thumbnail-popup {
          bottom: 55px !important;
          height: 15rem;
          width: 19rem;
        }

        .map-throbber {
          z-index: 500;
        }

        .map-throbber .throbber-dot {
          height: 3.2rem;
          width: 3.2rem;
        }
      </style>

      <script type="text/javascript" nonce="{{ .nonce }}">
        async function fetchGeoJSON() {
          const response = await fetch('{{ $geoURL }}', { credentials: 'same-origin' });

          if (response.status >= 400) {
            throw new Error('unable to load geojson');
          }

          if (response.status === 204) {
            return null;
          }

          return response.json();
        }

        async function addStyle(src, integrity, crossorigin) {
          return new Promise((resolve) => {
            const style = document.createElement('link');
            style.rel = 'stylesheet';
            style.href = src;
            style.onload = resolve;

            if (integrity) {
              style.integrity = integrity;
              style.crossOrigin = crossorigin;
            }

            document.querySelector('head').appendChild(style);
          });
        }

        async function addScript(src, integrity, crossorigin) {
          return new Promise((resolve) => {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = src;
            script.async = 'true';
            script.onload = resolve;

            if (integrity) {
              script.integrity = integrity;
              script.crossOrigin = crossorigin;
            }

            document.querySelector('head').appendChild(script);
          });
        }

        async function loadLeaflet() {
          await addStyle('https://unpkg.com/leaflet@1.8.0/dist/leaflet.css', 'sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==', '');
          await addStyle('https://unpkg.com/leaflet.markercluster@1.5.1/dist/MarkerCluster.Default.css', '', '');
          await addScript('https://unpkg.com/leaflet@1.8.0/dist/leaflet.js', 'sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==', '');
          await addScript('https://unpkg.com/leaflet.markercluster@1.5.1/dist/leaflet.markercluster.js', '', '');
        }

        let map;
        async function renderMap() {
          if (map) {
            map.invalidateSize(); // force re-render
            return;
          }

          const container = document.getElementById('map-container');
          const throbber = generateThrobber(['map-throbber', 'throbber-white']);
          if (container) {
            container.appendChild(throbber)
          }

          await loadLeaflet();

          // create Leaflet map
          map = L.map('map-container', {
            center: [46.227638, 2.213749], // France 🇫🇷
            zoom: 5,
          });

          // add the OpenStreetMap tiles
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution:
              '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
          }).addTo(map);

          const geojson = await fetchGeoJSON();
          if (!geojson || !geojson.features) {
            return;
          }

          const markers = L.markerClusterGroup({
            zoomToBoundsOnClick: false,
          });

          const bounds = [];
          geojson.features.map((f) => {
            const coord = L.GeoJSON.coordsToLatLng(f.geometry.coordinates);

            bounds.push(coord);
            markers.addLayer(L.circleMarker(coord).bindPopup(
              `<a href="${f.properties.url}?browser">
                 <img src="${f.properties.url}?thumbnail" alt="Image thumbnail" class="thumbnail-img">
               </a>
               <br>
               <span>${f.properties.date}</span>`,
              {
                maxWidth: 'auto',
                closeButton: false,
                className: 'thumbnail-popup',
              },
            ));
          });

          markers.on('clusterclick', (a) => {
            map.fitBounds(a.layer.getAllChildMarkers().map(m => m.getLatLng()));
          });

          // fit bounds of map
          if (bounds.length) {
            map.once('zoomend', () => {
              container.removeChild(throbber);
            });
            map.fitBounds(bounds);
          } else {
            container.removeChild(throbber);
          }

          map.addLayer(markers);
        }

        document.addEventListener('readystatechange', async (event) => {
          if (event.target.readyState === 'complete') {
            if (document.location.hash == '#map') {
              renderMap();
            } else {
              window.addEventListener('popstate', () => {
                if (document.location.hash == '#map') {
                  renderMap();
                }
              });
            }
          }
        });
      </script>
    </div>
  </div>
{{ end }}
