{{ define "navigation" }}
  <script type="text/javascript" nonce="{{ .nonce }}">
    /**
     * Go back from state.
     */
    function goBack() {
      {{ if .Parent }}
        window.location.href = '/{{ .Parent }}';
      {{ else }}
        const previousHash = document.location.hash;
        document.location.hash = '';

        if (/success$/gim.test(previousHash)) {
          window.location.reload(true);
        }
      {{ end }}
    }

    /**
     * Go to the previous item.
     */
    function goToPrevious() {
      {{ if .Previous }}
        window.location.href = '{{ .Previous.URL }}{{ if not .Previous.IsDir }}?browser{{ end }}';
      {{ end }}
    }

    /**
     * Go to the next item.
     */
    function goToNext() {
      {{ if .Next }}
        window.location.href = '{{ .Next.URL }}{{ if not .Next.IsDir }}?browser{{ end }}';
      {{ end }}
    }

    /**
     * Handle Previous/next.
     */
    window.onkeyup = (e) => {
      switch (e.key) {
        case 'ArrowLeft':
          goToPrevious();
          break;

        case 'ArrowRight':
          goToNext();
          break;

        case 'Escape':
          goBack();
          break;
      }
    };
  </script>
{{ end }}
