{{ define "search" }}
  {{ template "header" . }}
  {{ template "layout" . }}
  {{ template "throbber" . }}

  {{ $root := . }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }

    {{ if eq .Request.Display "list" }}
      .file-download {
        display: none;
      }

      .file:hover .file-download {
        display: inline-block;
      }

      .file-download .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .file-download {
          display: inline-block;
        }
      }
    {{ else }}
      .file-download {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
      }

      .file-download {
        left: 0.5rem;
        top: 0.5rem;
      }

      #files > *:hover .file-download {
        display: block;
      }
    {{ end }}
  </style>

  {{ template "search-modal" . }}
  {{ template "items-style" . }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list&{{ raw .Search.Encode }}">
        <img class="icon" src="{{ url "/svg/list?fill=aliceblue" }}" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid&{{ raw .Search.Encode }}">
        <img class="icon" src="{{ url "/svg/th?fill=aliceblue" }}" alt="Grid">
      </a>

      <span class="padding-left">
        {{ len .Files }} element{{ if gt (len .Files) 1 }}s{{ end }}
      </span>

      <span class="flex-grow"></span>

      {{ if gt (len .Files) 0 }}
        <a class="padding" href="?download&{{ raw .Search.Encode }}" download>
          <img class="icon" src="{{ url "/svg/download?fill=aliceblue" }}" alt="Download">
        </a>
      {{ end }}

      {{ if .HasMap }}
        <a class="padding" href="#map" download>
          <img class="icon" src="{{ url "/svg/map?fill=aliceblue" }}" alt="View on map">
        </a>
      {{ end }}
    </div>

    {{ $hasThumbnail := false }}

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li class="tile relative {{ if not .HasThumbnail }}file{{ end }}">
          <a class="filelink center ellipsis" href="{{ .URL }}{{ if .IsDir }}?d={{ $root.Request.LayoutPath ($root.Request.AbsoluteURL .URL) }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if .HasThumbnail }}
              {{ if not $hasThumbnail }}
                {{ $hasThumbnail = true }}
              {{ end }}

              {{ template "async-image-item" . }}

              {{ if .IsVideo }}
                <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192,192,192,0.8)" }}" alt="Play video">
              {{ end }}
            {{ else }}
              <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/" }}{{ if .IsDir }}folder{{ else }}{{ iconFromExtension . }}{{ end }}?fill=aliceblue" alt="{{ if .IsDir }}Folder{{ else }}File{{ end }}">
              <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .URL }}</span>
            {{ end }}

            <a href="{{ .URL }}?download" class="button button-icon file-download" title="Download" download="{{ .Name }}">
              <img class="icon" src="{{ url "/svg/download?fill=aliceblue" }}" alt="Download">
            </a>
          </a>
        </li>
      {{ end }}

      {{ if $hasThumbnail }}
        {{ template "async-image" . }}
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
