{{ define "search-modal" }}
  <div id="search" class="modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">Search files</h2>

      <form method="GET" id="search-form" class="scrollable" action="#">
        <input type="hidden" name="search">

        <p class="padding no-margin">
          <label for="name" class="block">Name</label>
          <input id="name" name="name" type="text" value="{{ if .Search.name }}{{ index .Search.name 0 }}{{ end }}" placeholder="Searched regexp..." class="full">
        </p>

        <p class="padding no-margin">
          <label for="types" class="block">Types</label>
          <select id="types" name="types" class="full" multiple>
            <option value=""></option>
            <option value="archive" {{ if .Search.types }}{{ if contains .Search.types "archive" }}selected{{ end }}{{ end }}>Archive</option>
            <option value="audio" {{ if .Search.types }}{{ if contains .Search.types "audio" }}selected{{ end }}{{ end }}>Audio</option>
            <option value="code" {{ if .Search.types }}{{ if contains .Search.types "code" }}selected{{ end }}{{ end }}>Code</option>
            <option value="excel" {{ if .Search.types }}{{ if contains .Search.types "excel" }}selected{{ end }}{{ end }}>Excel</option>
            <option value="image" {{ if .Search.types }}{{ if contains .Search.types "image" }}selected{{ end }}{{ end }}>Image</option>
            <option value="pdf" {{ if .Search.types }}{{ if contains .Search.types "pdf" }}selected{{ end }}{{ end }}>PDF</option>
            <option value="video" {{ if .Search.types }}{{ if contains .Search.types "video" }}selected{{ end }}{{ end }}>Video</option>
            <option value="stream" {{ if .Search.types }}{{ if contains .Search.types "stream" }}selected{{ end }}{{ end }}>Stream</option>
            <option value="word" {{ if .Search.types }}{{ if contains .Search.types "word" }}selected{{ end }}{{ end }}>Word</option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="tags" class="block">Tags</label>
          <input id="tags" name="tags" type="text" value="{{ if .Search.tags }}{{ join .Search.tags " " }}{{ end }}" placeholder="Tags..." class="full">
        </p>

        <p class="padding no-margin">
          <label for="after" class="block">After</label>
          <input id="after" name="after" type="date" placeholder="2020-01-31" value="{{ with .Search.after }}{{ index . 0 }}{{ end }}">

          <label for="before" class="block">Before</label>
          <input id="before" name="before" type="date" placeholder="2020-12-31" value="{{ with .Search.before }}{{ index . 0 }}{{ end }}">

          <label for="since" class="block">Since</label>
          <input id="since" name="since" type="number" min="0" value="{{ with .Search.since }}{{ index . 0 }}{{ end }}">

          <select aria-label="Since unit" name="sinceUnit">
            <option value="days" {{ with .Search.sinceUnit }}{{ if eq (index . 0) "days" }}selected{{ end }}{{ end }}>Days</option>
            <option value="months" {{ with .Search.sinceUnit }}{{ if eq (index . 0) "months" }}selected{{ end }}{{ end }}>Months</option>
            <option value="years" {{ with .Search.sinceUnit }}{{ if eq (index . 0) "years" }}selected{{ end }}{{ end }}>Years</option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="size" class="block">Size</label>

          <span class="flex flex-center">
            <select aria-label="Type of size comparison" name="sizeOrder">
              <option value="gt" {{ with .Search.sizeOrder }}{{ if eq (index . 0) "gt"}}selected{{ end }}{{ end }}>Greater than</option>
              <option value="lt" {{ with .Search.sizeOrder }}{{ if eq (index . 0) "lt"}}selected{{ end }}{{ end }}>Lower than</option>
            </select>

            <input id="size" name="size" type="number" min="0" value="{{ with .Search.size }}{{ index . 0 }}{{ end }}">

            <select aria-label="Size unit" name="sizeUnit">
              <option value="kb" {{ with .Search.sizeUnit }}{{ if eq (index . 0) "kb" }}selected{{ end }}{{ end }}>Kilobytes</option>
              <option value="mb" {{ with .Search.sizeUnit }}{{ if eq (index . 0) "mb" }}selected{{ end }}{{ end }}>Megabytes</option>
              <option value="gb" {{ with .Search.sizeUnit }}{{ if eq (index . 0) "gb" }}selected{{ end }}{{ end }}>Gigabytes</option>
            </select>
          </span>
        </p>

        {{ template "form_buttons" "Search" }}
      </form>
    </div>
  </div>
{{ end }}
