{{ define "search-modal" }}
  <style type="text/css" nonce="{{ .nonce }}">
    #search:target {
      display: flex;
      z-index: 5;
    }

    #search:target ~ .content {
      pointer-events: none;
    }
  </style>
  <div id="search" class="modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">Search files</h2>

      <form method="GET" id="search-form" action="">
        <input type="hidden" name="search" value="true">

        <p class="padding no-margin">
          <label for="q" class="block">Name</label>
          <input id="q" type="text" name="q" value="{{ if .Search.q }}{{ index .Search.q 0 }}{{ end }}" placeholder="Searched string..." class="full">
        </p>

        <p class="padding no-margin">
          <label for="mimes" class="block">Types</label>
          <select id="mimes" name="mimes" class="full" multiple>
            <option value=""></option>
          </select>
        </p>

        <p class="padding no-margin">
          <label for="after" class="block">After</label>
          <input id="after" name="after" type="date" placeholder="2020-01-31" value="{{ with .Search.after }}{{ index . 0 }}{{ end }}">
          <label for="before" class="block">Before</label>
          <input id="before" name="before" type="date" placeholder="2020-12-31" value="{{ with .Search.before }}{{ index . 0 }}{{ end }}">
        </p>

        {{ template "form_buttons" "Search" }}
      </form>
    </div>
  </div>
{{ end }}
