{{ define "search" }}
  {{ template "header" . }}
  {{ template "layout" . }}
  {{ template "throbber" . }}

  {{ $root := . }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }
  </style>

  {{ template "search-modal" . }}
  {{ template "items-style" . }}
  {{ if eq .Request.Display "grid" }}
    {{ template "async-image" . }}
  {{ end }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list&{{ raw .Search.Encode }}">
        <img class="icon" src="{{ url "/svg/list?fill=silver" }}" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid&{{ raw .Search.Encode }}">
        <img class="icon" src="{{ url "/svg/th?fill=silver" }}" alt="Grid">
      </a>

      <span class="padding-left">
        {{ len .Files }} element{{ if gt (len .Files) 1 }}s{{ end }}
      </span>

      <span class="flex-grow"></span>

      {{ if gt (len .Files) 0 }}
        <a class="padding" href="?download&{{ raw .Search.Encode }}" download>
          <img class="icon" src="{{ url "/svg/download?fill=silver" }}" alt="Download">
        </a>
      {{ end }}

      {{ if .HasMap }}
        <a class="padding" href="#map" download>
          <img class="icon" src="{{ url "/svg/map?fill=silver" }}" alt="View on map">
        </a>
      {{ end }}
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li class="tile relative {{ if or (ne $root.Request.Display "grid") (not (hasThumbnail .)) }}file{{ end }}">
          <a class="filelink center ellipsis" href="{{ .URL }}{{ if .IsDir }}?d={{ $root.Request.LayoutPath ($root.Request.AbsoluteURL .URL) }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Request.Display "grid") (hasThumbnail .) }}
              {{ template "async-image-item" . }}

              {{ if .IsVideo }}
                <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192,192,192,0.8)" }}" alt="Play video">
              {{ end }}
            {{ else }}
              {{ if .IsDir }}
                <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/folder?fill=silver" }}" alt="Folder">
              {{ else }}
                <img class="icon {{ if eq $root.Request.Display "grid" }}icon-large{{ end }}" src="{{ url "/svg/" }}{{ iconFromExtension . }}?fill=silver" alt="File">
              {{ end }}
              <span class="filename ellipsis {{ if eq $root.Request.Display "list" }}padding-left{{ end }}">{{ .URL }}</span>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
