{{ define "search" }}
  {{ template "header" . }}
  {{ template "layout" . }}
  {{ template "throbber" . }}

  {{ $root := . }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      overflow: auto;
    }

    #files {
      list-style: none;
    }

    #search {
      background-color: var(--primary);
    }

    .file {
      align-items: center;
      display: flex;
      margin: 0.5rem 1rem 0;
    }

    .filelink {
      align-items: center;
      display: inline-flex;
      height: 2.5rem;
      width: 45rem;
    }

    .filename {
      display: inline-block;
      flex: 1 1;
      text-align: left;
    }

    @media screen and (max-width: 640px) {
      .filelink {
        flex: 1 1;
        width: auto;
      }
    }
  </style>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="search" class="button button-icon" href="#">
        <img class="icon" src="{{ url "/svg/search?fill=silver" }}" alt="Search">
      </a>

      <span class="padding-left">
        {{ len .Files }}
        <span> element{{ if gt (len .Files) 1 }}s{{ end }}</span>
      </span>
      <span class="flex-grow"></span>
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li class="file">
          <a class="filelink center ellipsis" href="{{ .URL }}?browser" title="{{ .URL }}">
            <img class="icon" src="{{ url "/svg/" }}{{ iconFromExtension . }}?fill=silver" alt="File">
            <span class="filename ellipsis padding-left">{{ .URL }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
