{{ define "seo" }}
  {{ $title := "fibr" }}
  {{ $description := "FIle BRowser" }}
  {{ $url := publicURL "/" }}

  {{ with .Request }}
    {{ $title = .Title }}
    {{ $description = .Description }}
    {{ $url = publicURL (.URL "") }}
  {{ end }}

  {{ if .File }}
    {{ if not .File.IsDir }}
      {{ $url = printf "%s%s" $url "?browser" }}
    {{ end }}
  {{ end }}

  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}">
  <link rel="canonical" href="{{ $url }}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ $url }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">

  {{ if .File }}
    {{ if .File.IsVideo }}
      <meta property="og:video" content="{{ publicURL (.Request.URL "") }}">
      <meta property="og:video:type" content="{{ .File.Mime }}">
    {{ end }}
  {{ end }}

  {{ if .Cover.Img }}
    {{ if .File }}
      <meta property="og:image" content="{{ publicURL (.Request.URL "") }}?thumbnail&v={{ .Version }}">
    {{ else }}
      <meta property="og:image" content="{{ publicURL (.Request.URL .Cover.Img.Name) }}?thumbnail&v={{ .Version }}">
    {{ end }}
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="{{ .Cover.ImgWidth }}">
    <meta property="og:image:width" content="{{ .Cover.ImgWidth }}">
    <meta property="og:image:alt" content="Thumbnail of content">
  {{ else }}
    <meta property="og:image" content="{{ publicURL "/images/favicon/android-chrome-512x512.png" }}?v={{ .Version }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="512">
    <meta property="og:image:width" content="512">
    <meta property="og:image:alt" content="Fibr logo">
  {{ end }}
{{ end }}
