{{ define "share-list" }}
  <style type="text/css" nonce="{{ .nonce }}">
    #shares {
      border-spacing: 0;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #shares th,
    #shares td {
      padding: 1rem;
    }

    .share-content:hover {
      background-color: var(--grey);
    }

    .path {
      max-width: 30rem;
      text-align: left;
    }

    @media screen and (max-width: 485px) {
      .path {
        max-width: 20rem;
      }
    }

    @media screen and (max-width: 430px) {
      .path {
        max-width: 16rem;
      }
    }

    @media screen and (max-width: 375px) {
      .path {
        max-width: 12rem;
      }
    }

    @media screen and (max-width: 320px) {
      .path {
        max-width: 8rem;
      }
    }
  </style>

  <script type="text/javascript" nonce="{{ .nonce }}">
    document.addEventListener('readystatechange', async (event) => {
      if (event.target.readyState === 'complete') {
        {{ range .Shares }}
          const shareDelete{{ js .ID }} = document.getElementById('share-delete-{{ .ID }}');
          if (shareDelete{{ js .ID }}) {
            shareDelete{{ js .ID }}.addEventListener('click', (e) => {
              if (!confirm('Are you sure you want to delete share for {{ .Path }}?')) {
                e.preventDefault()
              }
            });
          }
        {{ end }}
      }
    });
  </script>

  <div id="share-list" class="modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">
        <span>Shared folders</span>
        <span class="flex-grow"></span>
        <a href="#" class="button white small">Close</a>
      </h2>

      {{ if len .Shares }}
        <table id="shares" class="full padding">
          <caption>List of existing shares</caption>

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Path</th>
              <th scope="col">Options</th>
              <td></td>
            </tr>
          </thead>

          {{ $root := . }}

          <tbody>
            {{ range .Shares }}
              <tr class="share-content">
                <td>
                  <a href="{{ url "/" }}{{ .ID }}/">
                    <code>{{ .ID }}</code>
                  </a>
                </td>
                <th scope="row" class="ellipsis path">
                  <code>{{ .Path }}</code>
                </th>
                <td class="center">
                  {{ if .Edit }}
                    <img class="icon" src="{{ url "/svg/edit?fill=silver" }}" alt="Editable">
                  {{ end }}
                  {{ if .Password }}
                    <img class="icon" src="{{ url "/svg/lock?fill=silver" }}" alt="Password protected">
                  {{ end }}
                  {{ if .Duration }}
                    <img class="icon" src="{{ url "/svg/hourglass?fill=silver" }}" alt="Duration">
                    {{ .Duration.Hours }}h
                  {{ end }}
                </td>
                <td >
                  <form method="post">
                    <input type="hidden" name="type" value="share" />
                    <input type="hidden" name="method" value="DELETE" />
                    <input type="hidden" name="id" value="{{ .ID }}" />
                    <button id="share-delete-{{ .ID }}" type="submit" class="button button-icon" alt="Delete">
                      <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="Delete">
                    </button>
                  </form>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        <p class="padding no-margin center">
          <em>No shared folder yet.</em>
        </p>
      {{ end }}

      <p class="padding no-margin center">
        <a href="#share-form" class="button bg-primary">Add</a>
      </p>
    </div>
  </div>
{{ end }}
