{{ define "share-list" }}
  <div id="share-list" class="share-list-modal modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">
        <span>Shared folders</span>
        <span class="flex-grow"></span>
        <a href="#" class="button white small">Close</a>
      </h2>

      {{ if len .Shares }}
        <table id="shares" class="full padding">
          <caption class="padding">List of existing shares</caption>

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Path</th>
              <th scope="col">Options</th>
              <td></td>
            </tr>
          </thead>

          {{ $root := . }}

          <tbody>
            {{ range .Shares }}
              <tr class="share-content">
                <td>
                  <a class="share-link" href="{{ url "/" }}{{ .ID }}/">
                    <code>{{ .ID }}</code>
                  </a>
                </td>
                <th scope="row" class="ellipsis path">
                  <code>{{ .Path }}</code>
                </th>
                <td class="center">
                  {{ if .Edit }}
                    <img class="icon" src="{{ url "/svg/edit?fill=aliceblue" }}" alt="Editable">
                  {{ end }}
                  {{ if .Story }}
                    <img class="icon" src="{{ url "/svg/image?fill=aliceblue" }}" alt="Story mode">
                  {{ end }}
                  {{ if .Password }}
                    <img class="icon" src="{{ url "/svg/lock?fill=aliceblue" }}" alt="Password protected">
                  {{ end }}
                  {{ if .Duration }}
                    <img class="icon" src="{{ url "/svg/hourglass?fill=aliceblue" }}" alt="Duration">
                    {{ .Duration.Hours }}h
                  {{ end }}
                </td>
                <td >
                  <form method="post">
                    <input type="hidden" name="type" value="share" />
                    <input type="hidden" name="method" value="DELETE" />
                    <input type="hidden" name="id" value="{{ .ID }}" />
                    <button id="share-delete-{{ .ID }}" type="submit" class="button button-icon" title="Delete" data-confirm="share for {{ .Path }}">
                      <img class="icon" src="{{ url "/svg/times?fill=crimson" }}" alt="Delete">
                    </button>
                  </form>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        <p class="padding no-margin center">
          <em>No shared folder yet.</em>
        </p>
      {{ end }}

      <p class="padding no-margin center top-shadow">
        <a href="#share-form" class="button bg-primary">Add</a>
      </p>
    </div>
  </div>
{{ end }}
