{{ define "stats" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  <style type="text/css" nonce="{{ .nonce }}">
    .stats {
      margin: 0 auto;
      width: 30rem;
    }

    .key {
      display: inline-block;
      width: 10rem;
    }
  </style>

  <h2 class="center">Stats</h2>

  <section class="stats">
    {{ range .Stats }}
      <p class="padding no-margin">
        <strong class="key">{{ .Key }}</strong>: {{ .Value }}
      </p>
    {{ end }}
  </section>

  {{ if .Request.CanEdit }}
    <form method="post" action="#">
      <input type="hidden" name="method" value="TRACE" />
      <input type="hidden" name="subset" value="thumbnail" />
      <p class="padding no-margin center">
        <button type="submit" class="button bg-primary">Regenerate Thumbnail</button>
      </p>
    </form>

    <form method="post" action="#">
      <input type="hidden" name="method" value="TRACE" />
      <input type="hidden" name="subset" value="exif" />
      <p class="padding no-margin center">
        <button type="submit" class="button bg-primary">Regenerate Exif</button>
      </p>
    </form>

    <form method="post" action="#">
      <input type="hidden" name="method" value="TRACE" />
      <input type="hidden" name="subset" value="cache" />
      <p class="padding no-margin center">
        <button type="submit" class="button bg-danger">Flush Redis cache</button>
      </p>
    </form>

    <form method="post" action="#">
      <input type="hidden" name="method" value="TRACE" />
      <input type="hidden" name="subset" value="all" />
      <p class="padding no-margin center">
        <button type="submit" class="button bg-danger">Regenerate all metadatas</button>
      </p>
    </form>
  {{ end }}

  {{ template "footer" . }}
{{ end }}
