{{ define "story" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  {{ $root := . }}

  <link rel="preload" as="image" href="{{ url "/svg/list?fill=silver" }}">
  <link rel="preload" as="image" href="{{ url "/svg/th?fill=silver" }}">

  {{ template "search-modal" . }}
  {{ template "items-style" . }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  {{ if .Request.CanEdit }}
    {{ range .Files }}
      {{ template "desc-modal" . }}
    {{ end }}
  {{ end }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      overflow: auto;
    }

    #story-display {
      background-color: var(--primary);
    }

    .file {
      background-color: var(--grey);
      margin: 0 auto 3rem;
      max-width: 100rem;
    }

    .description {
      background-color: var(--white);
      color: var(--dark);
      width: 100%;
    }

    .no-margin-bottom {
      margin-bottom: 0;
    }

    .margin-right-half {
      margin-right: 0.5rem;
    }

    {{ if .Request.CanEdit }}
      {{ range .Files }}
        #desc-modal-{{ .ID }}:target,
      {{ end }}
      #desc-modal:target {
        display: flex;
        z-index: 5;
      }

      {{ range .Files }}
        #desc-modal-{{ .ID }}:target ~ .content,
      {{ end }}
      #desc-modal:target ~ .content {
        pointer-events: none;
      }
    {{ end }}

    .desc-input {
      resize: vertical;
      width: 30rem;
      min-height: 15rem;
    }

    .desc-edit {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  </style>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list">
        <img class="icon" src="{{ url "/svg/list?fill=silver" }}" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid">
        <img class="icon" src="{{ url "/svg/th?fill=silver" }}" alt="Grid">
      </a>
      <a id="story-display" class="button button-icon" href="?story">
        <img class="icon" src="{{ url "/svg/image?fill=silver" }}" alt="Image story">
      </a>

      <span class="flex-grow"></span>
    </div>

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li class="file relative">
          <a class="filelink" href="{{ .URL }}?browser" title="{{ .Name }}">
            <img class="thumbnail full block" src="{{ .URL }}?thumbnail&scale=1000" alt="Thumbnail of {{ .URL }}" loading="lazy" border="0">

            {{ if .IsVideo }}
              <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192,192,192,0.8)" }}" alt="Play video">
            {{ end }}
          </a>

          <div class="description relative padding">
            <p>
              <img class="icon icon-bottom margin-right-half" src="{{ url "/svg/location?fill=#272727" }}" alt="Location">
              {{- if .Exif.Geocode.IsZero }}
                Unknown
              {{- else }}
                {{ if index .Exif.Geocode.Address "city_district" }}
                  {{ index .Exif.Geocode.Address "city_district" }},
                {{ else }}
                  {{ if index .Exif.Geocode.Address "village" }}
                    {{ index .Exif.Geocode.Address "village" }},
                  {{ else }}
                    {{ if index .Exif.Geocode.Address "county" }}
                      {{ index .Exif.Geocode.Address "county" }},
                    {{- end }}
                  {{- end }}
                {{- end }} {{ index .Exif.Geocode.Address "country" }}
              {{- end }}

              {{- if not .Exif.Date.IsZero }}, {{ .Exif.Date.Format "Monday _2 January at 15:04:05 2006 MST" }}{{- end }}
            </p>

            {{ if index .Exif.Data "Model" }}
              <p>
                <img class="icon icon-bottom margin-right-half" src="{{ url "/svg/camera?fill=#272727" }}" alt="Camera model">
                {{ index .Exif.Data "Model" }}
              </p>
            {{ end }}

            {{ if .Exif.Description }}
              <p class="no-margin-bottom">{{ .Exif.Description }}</p>
            {{ end }}

            {{ if $root.Request.CanEdit }}
              <a href="#desc-modal-{{ .ID }}" class="button button-icon desc-edit" alt="Edit description">
                <img class="icon" src="{{ url "/svg/pencil-alt?fill=#272727" }}" alt="Edit description">
              </a>
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
