{{ define "story" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  {{ $root := . }}

  <script type="text/javascript" nonce="{{ .nonce }}">
    const hasThumbnail = true;
    const lazyLoadThumbnail = true;
  </script>

  <link rel="preload" as="image" href="{{ url "/svg/link?fill=%23272727" }}">

  {{ if .Request.CanEdit }}
    <link rel="preload" as="image" href="{{ url "/svg/upload?fill=aliceblue" }}">

    {{ template "upload-modal" . }}
  {{ end }}

  {{ if not .Request.Share.Story }}
    <link rel="preload" as="image" href="{{ url "/svg/list?fill=aliceblue" }}">
    <link rel="preload" as="image" href="{{ url "/svg/grid?fill=aliceblue" }}">
    <link rel="preload" as="image" href="{{ url "/svg/image?fill=aliceblue" }}">
  {{ end }}

  {{ if not .Request.Share.Story }}
    {{ template "search-modal" . }}
  {{ end }}

  {{ template "items-style" . }}

  {{ if .HasMap }}
    {{ template "map-modal" . }}
  {{ end }}

  {{ if .Request.CanEdit }}
    {{ range .Files }}
      {{ template "desc-modal" . }}
    {{ end }}
  {{ end }}

  <style type="text/css" nonce="{{ .nonce }}">
    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      overflow: auto;
    }

    .upload-modal:target {
      display: flex;
      z-index: 5;
    }

    .upload-modal:target ~ .content {
      pointer-events: none;
    }

    #story-display {
      background-color: var(--primary);
    }

    #files {
      padding-bottom: 1rem;
    }

    .file {
      align-items: center;
      background-color: var(--grey);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 3rem;
      max-width: {{ .ThumbnailLargeSize }}px;
    }

    .file::before {
      content: "";
      display: inline-block;
      height: 0;
      padding-bottom: calc(100%);
    }

    .description {
      background-color: var(--white);
      color: var(--dark);
      min-height: 5rem;
      padding: 0 1rem;
      width: 100%;
    }

    .description-content {
      margin-bottom: 0;
      margin-top: 0;
      max-width: calc(100% - var(--icon-size) - 2rem{{ if .Request.CanEdit }} - var(--icon-size) - 2rem{{ end }});
    }

    .margin-top {
      margin-top: 1.6rem;
    }

    .margin-bottom {
      margin-bottom: 1.6rem;
    }

    .margin-right-half {
      margin-right: 0.5rem;
    }

    .margin-left-half {
      margin-left: 0.5rem;
    }

    .desc-modal:target {
      display: flex;
      z-index: 5;
    }

    .desc-modal:target ~ .content {
      pointer-events: none;
    }

    .context {
      display: flex;
      align-items: center;
    }

    .desc-input {
      resize: vertical;
      width: 30rem;
      min-height: 15rem;
    }

    .desc-edit {
      position: absolute;
      right: 4.75rem;
      bottom: 0.25rem;
    }

    .permalink {
      position: absolute;
      right: 0.25rem;
      bottom: 0.25rem;
    }

    .throbber-overlay {
      left: 0;
      pointer-events: none;
      position: absolute;
      top: calc(({{ .ThumbnailLargeSize }}px - 1rem) / 2);
      width: {{ .ThumbnailLargeSize }}px;
    }
  </style>

  <div class="content">
    {{ if not .Request.Share.Story }}
      <div id="menu" class="flex flex-center">
        <a id="list-display" class="button button-icon" href="?d=list" title="List layout">
          <img class="icon" src="{{ url "/svg/list?fill=aliceblue" }}" alt="list">
        </a>
        <a id="grid-display" class="button button-icon" href="?d=grid" title="Grid layout">
          <img class="icon" src="{{ url "/svg/grid?fill=aliceblue" }}" alt="grid">
        </a>
        <a id="story-display" class="button button-icon" href="?d=story" title="Story layout">
          <img class="icon" src="{{ url "/svg/image?fill=aliceblue" }}" alt="picture">
        </a>

        <span class="flex-grow"></span>

        {{ if .Request.CanEdit }}
          <a id="upload-button-link" href="#upload-modal" class="button button-icon" title="Upload file">
            <img class="icon" src="{{ url "/svg/upload?fill=aliceblue" }}" alt="upload">
          </a>
        {{ end }}

        {{ if .HasMap }}
          <a class="padding" href="#map" title="View on map">
            <img class="icon" src="{{ url "/svg/map?fill=aliceblue" }}" alt="map">
          </a>
        {{ end }}
      </div>
    {{ end }}

    <ul id="files" class="no-margin no-padding">
      {{ range .Files }}
        <li id="{{ .ID }}" class="file">
          <a class="filelink full block relative" href="{{ .URL }}?browser" title="{{ .Name }}">
            {{ template "async-image-item-large" .RenderItem }}

            {{ if .IsVideo }}
              <img class="icon icon-overlay" src="{{ url "/svg/play?fill=rgba(192,192,192,0.8)" }}" alt="play icon" title="Play video">
            {{ end }}
          </a>

          <div class="description relative">
            {{ if or (.Exif.Geocode.HasAddress) (not .Exif.Date.IsZero) }}
              <p class="context">
                {{ if .Exif.Geocode.HasAddress }}
                  <img class="icon margin-right-half" src="{{ url "/svg/location?fill=%23272727" }}" alt="location">
                  <span class="location">
                    {{ if index .Exif.Geocode.Address "city_district" }}
                      {{ index .Exif.Geocode.Address "city_district" }},
                    {{ else }}
                      {{ if index .Exif.Geocode.Address "village" }}
                        {{ index .Exif.Geocode.Address "village" }},
                      {{ else }}
                        {{ if index .Exif.Geocode.Address "county" }}
                          {{ index .Exif.Geocode.Address "county" }},
                        {{- end }}
                      {{- end }}
                    {{- end }} {{ index .Exif.Geocode.Address "country" }}
                  {{ end }}
                </span>

                {{ if not .Exif.Date.IsZero }}
                  <img class="icon margin-right-half{{ if .Exif.Geocode.HasAddress }} margin-left-half{{ end }}" src="{{ url "/svg/calendar?fill=%23272727" }}" alt="calendar">
                  <span class="date">{{ .Exif.Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
                {{ end }}
              </p>
            {{ end }}

            {{ if index .Exif.Data "Model" }}
              <p class="context">
                <img class="icon margin-right-half" src="{{ url "/svg/camera?fill=%23272727" }}" alt="camera">
                {{ index .Exif.Data "Model" }}
              </p>
            {{ end }}

            {{ if .Exif.Description }}
              {{ $lines := splitLines .Exif.Description }}
              {{ $linesLen := add (len $lines) -1 }}

              {{ range $i, $value := $lines }}
                <p class="description-content {{ if eq $i 0 }}margin-top{{ end }}{{ if eq $linesLen $i }} margin-bottom{{ end }}">{{ . }}</p>
              {{ end }}
            {{ end }}

            {{ if $root.Request.CanEdit }}
              <a href="#desc-modal-{{ .ID }}" class="button button-icon desc-edit" title="Edit description">
                <img class="icon" src="{{ url "/svg/pencil-alt?fill=%23272727" }}" alt="edit description">
              </a>
            {{ end }}
            <a href="#{{ .ID }}" class="button button-icon permalink" title="Link to image">
              <img class="icon" src="{{ url "/svg/link?fill=%23272727" }}" alt="link">
            </a>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "footer" . }}
{{ end }}
