{{ define "upload-modal" }}
  <script type="text/javascript" nonce="{{ .nonce }}">
    const chunkUpload = {{ .ChunkUpload }};
  </script>


  <div id="upload-modal" class="modal upload-modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">
        <span>Upload files</span>
        <span class="flex-grow"></span>
        <a id="upload-cancel" href="#" class="button white small">Close</a>
      </h2>

      <form
        id="upload-form"
        class="flex flex-column flex-grow flex-center scrollable"
        method="post"
        enctype="multipart/form-data"
        action="#"
      >
        <input type="hidden" name="method" value="POST" />

        <p class="center upload-width flex flex-center">
          <input id="file" class="full" type="file" name="file" />
          <label id="file-label" for="file" tabindex="0" class="hidden button bg-success">Choose file...</label>
        </p>

        <div id="upload-list" class="hidden upload-width full scrollable"></div>

        <p class="padding no-margin center">
          <button id="upload-button" type="submit" class="button bg-primary">Upload</button>
        </p>
      </form>
    </div>
  </div>

  <div id="upload-success" class="modal upload-success">
    <div class="modal-content">
      <h2 class="header success padding">Upload success ✓</h2>

      <p class="padding no-margin center">
        <a href="?redirect&d={{ .Request.Display }}" class="button bg-grey">Close</a>
      </p>
    </div>
  </div>
{{ end }}
