{{ define "upload-modal" }}
  <script type="text/javascript" nonce="{{ .nonce }}">
    /**
     * Drag'n drop.
     */
    const dropZone = document.getElementsByTagName('body')[0];

    /**
     * Noop function for event handler.
     * @param  {Object} e Event
     */
    function eventNoop(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    dropZone.addEventListener('dragover', eventNoop);
    dropZone.addEventListener('dragleave', eventNoop);
    dropZone.addEventListener('drop', (e) => {
      eventNoop(e);

      window.location.hash = '#upload-modal';
      document.getElementById('file').files = e.dataTransfer.files;
    });

    /**
     * Convert an ArrayBuffer to a HexString
     * @param  {ArrayBuffer} buffer ArrayBuffer to convert
     * @return {String}      Matching hex string
     */
    function bufferToHex(buffer) {
      return Array.prototype.map
        .call(new Uint8Array(buffer), (x) => `00${x.toString(16)}`.slice(-2))
        .join('');
    }

    /**
     * Compute the sha1 on input.
     * @param  {Object}          data Data to hash
     * @return {Promise<String>}      Promise that will resolve the sha1 string
     */
    async function sha1(data) {
      const buffer = await crypto.subtle.digest(
        'SHA-1',
        new TextEncoder('utf-8').encode(data),
      );
      return bufferToHex(buffer);
    }

    /**
     * Generate file message id.
     * @param  {File} file       File to generate id from.
     * @return {Promise<String>} Promise that will resolve the message id.
     */
    async function fileMessageId(file) {
      const hash = await sha1(file.name);
      return `upload-file-${hash}`;
    }

    /**
     * Add upload item content to container.
     * @param  {Element} container Container to append item
     * @param  {File}    file      File to generate an item
     */
    async function addUploadItem(container, file) {
      const messageId = await fileMessageId(file);

      const item = document.createElement('div');
      item.id = messageId;
      item.classList.add('flex', 'flex-center', 'margin');

      const itemWrapper = document.createElement('div');
      itemWrapper.classList.add('upload-item');
      item.appendChild(itemWrapper);

      const filename = document.createElement('div');
      filename.classList.add('upload-name', 'flex-grow', 'ellipsis');
      filename.innerHTML = file.name;
      itemWrapper.appendChild(filename);

      const progress = document.createElement('progress');
      progress.classList.add('full');
      progress.max = 100;
      progress.value = 0;
      itemWrapper.appendChild(progress);

      const status = document.createElement('span');
      status.classList.add('upload-status');
      item.appendChild(status);

      container.appendChild(item);
    }

    /**
     * Add upload item content to container.
     * @param  {Element} container Container to append item
     * @param  {File}    file      File to generate an item
     * @param  {File}    id        Share ID to generate an item
     */
    async function addShareItem(container, id, file) {
      const item = document.createElement('div');
      item.classList.add('flex', 'flex-center', 'margin');

      const icon = document.createElement('img');
      icon.classList.add('icon');
      icon.src = '{{ url "/svg/share-alt-square?fill=silver" }}';
      icon.alt = `Share ${file.name}`;
      item.appendChild(icon);

      const filename = document.createElement('div');
      filename.classList.add(
        'upload-name',
        'flex-grow',
        'ellipsis',
        'padding-left',
      );

      const prefix = "{{ url "/" }}";

      const link = document.createElement('a');
      link.href = `${prefix}${id}/`;
      link.innerHTML = file.name;
      filename.appendChild(link);

      item.appendChild(filename);

      container.appendChild(item);
    }

    /**
     * Get list of files to upload.
     */
    function getFiles(event) {
      const uploadList = document.getElementById('upload-list');
      replaceContent(uploadList);

      return [].filter
        .call(event.target, (e) => e.nodeName.toLowerCase() === 'input')
        .reduce((acc, cur) => {
          if (cur.type === 'file') {
            acc.files = cur.files;

            [].forEach.call(acc.files, (file) => addUploadItem(uploadList, file));
          } else {
            acc[cur.name] = cur.value;
          }

          return acc;
        }, {});
    }

    /**
     * Add upload message for file
     * @param {File}    file    File to generate message
     * @param {Element} content Content of message
     * @param {String}  style   Style of status
     */
    async function setUploadStatus(file, content, style) {
      const messageId = await fileMessageId(file);

      const container = document.getElementById(messageId);
      if (!container) {
        return;
      }

      const statusContainer = container.querySelector('.upload-status');
      if (!statusContainer) {
        return;
      }

      statusContainer.innerHTML = content;
      statusContainer.classList.add(style);
    }

    let xhr;

    /**
     * Upload file with updating progress indicator.
     * @param  {String} method   Method for uploading
     * @param  {File} file       File to upload
     * @param  {Boolean} shared  Shared option
     * @param  {Number} duration Duration of share
     * @return {Promise}       Promise of upload
     */
    async function uploadFile(method, file, shared, duration) {
      const messageId = await fileMessageId(file);

      const container = document.getElementById(messageId);
      let progress;
      if (container) {
        progress = container.querySelector('progress');
      }

      const formData = new FormData();
      formData.append('method', method);
      formData.append('share', shared);
      formData.append('duration', duration);
      formData.append('file', file);

      return new Promise((resolve, reject) => {
        xhr = new XMLHttpRequest();

        if (progress) {
          xhr.upload.addEventListener(
            'progress',
            (e) => (progress.value = parseInt((e.loaded / e.total) * 100, 10)),
            false,
          );
        }

        xhr.addEventListener(
          'readystatechange',
          (e) => {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status >= 200 && xhr.status < 400) {
                if (progress) {
                  progress.value = 100;
                }

                resolve(xhr.responseText);
                xhr = undefined;
              } else {
                reject(e);
                xhr = undefined;
              }
            } else if (xhr.readyState === XMLHttpRequest.UNSENT) {
              reject(new Error('request aborted'));
              xhr = undefined;
            }
          },
          false,
        );

        xhr.open('POST', '', true);
        xhr.setRequestHeader('Accept', 'text/plain');
        xhr.send(formData);
      });
    }

    /**
     * Handle upload submit
     * @param  {Object} event Submit event
     */
    async function upload(event) {
      event.preventDefault();

      const uploadButton = document.getElementById('upload-button');
      if (uploadButton) {
        replaceContent(uploadButton, generateThrobber(['throbber-white']));
      }

      let share = false;
      const uploadShare = document.getElementById('upload-share');
      if (uploadShare) {
        share = uploadShare.checked;
      }

      let duration = 0;
      if (share) {
        const shareDuration = document.getElementById('upload-duration');
        if (shareDuration) {
          duration = shareDuration.value;
        }
      }

      const values = getFiles(event);
      const shares = new Map();

      let success = true;
      for (let i = 0; i < values.files.length; i++) {
        const file = values.files[i];

        try {
          const uploadFilename = await uploadFile(
            values.method,
            file,
            share,
            duration,
          );
          const parts = uploadFilename.split('\n');
          if (parts.length > 1) {
            shares.set(parts[1], file);
          }

          await setUploadStatus(file, '✓', 'success');
        } catch (err) {
          await setUploadStatus(file, 'X', 'danger');
          success = false;

          console.error(err);
          break;
        }
      }

      if (success) {
        if (shares.size) {
          const shareList = document.getElementById('upload-share-list');
          if (shareList) {
            shares.forEach((value, key) => addShareItem(shareList, key, value));
          }
        }

        document.location.hash = '#upload-success';
      } else if (uploadButton) {
        uploadButton.innerHTML = 'Upload';
      }

      return false;
    }

    /**
     * Abort current upload.
     */
    function abort(e) {
      e.preventDefault();

      if (xhr) {
        xhr.abort();
        xhr = undefined;
      } else {
        window.location.hash = '';
      }

      return false;
    }

    window.addEventListener('load', () => {
      const fileInput = document.getElementById('file');
      if (fileInput) {
        fileInput.multiple = true;
      }

      const shareLabel = document.getElementById('upload-share-label');
      if (shareLabel) {
        shareLabel.innerHTML = 'Create a public read-only share on each file for';
      }

      const cancelButton = document.getElementById('upload-cancel');
      if (cancelButton) {
        cancelButton.addEventListener('click', abort);
      }

      const form = document.getElementById('upload-form');
      if (form) {
        form.addEventListener('submit', upload);
      }
    });
  </script>

  <style type="text/css" nonce="{{ .nonce }}">
    #upload-modal:target,
    #upload-success:target {
      display: flex;
      z-index: 5;
    }

    #upload-modal:target ~ .content,
    #upload-success:target ~ .content {
      pointer-events: none;
    }

    #upload-list {
      margin: 1rem auto;
      overflow-y: auto;
    }

    #upload-duration {
      width: 5rem;
    }

    .upload-width {
      max-width: 30rem;
    }

    .upload-item {
      display: inline-block;
      width: calc(100% - 2rem);
    }

    .upload-name {
      text-align: left;
    }

    .upload-status {
      margin-left: 0.5rem;
      text-align: right;
      width: 2rem;
    }
  </style>

  <div id="upload-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Upload files</h2>

      <form
        id="upload-form"
        class="flex flex-column flex-grow flex-center"
        method="post"
        enctype="multipart/form-data"
        action="#"
      >
        <input type="hidden" name="method" value="POST" />

        {{ if .Request.CanShare }}
          <p class="padding no-margin center upload-width">
            <input id="upload-share" type="checkbox" name="share" value="true" />
            <label id="upload-share-label" for="upload-share">Create a public read-only share for</label>
            <input id="upload-duration" type="number" name="duration" value="1" placeholder="Duration" />
            <label for="upload-duration">hours</label>
          </p>
        {{ end }}

        <p class="padding no-margin center upload-width">
          <input id="file" class="full" type="file" name="file" />
        </p>

        <div id="upload-list" class="upload-width full"></div>

        <p class="padding no-margin center">
          <a id="upload-cancel" href="#" class="button white">Cancel</a>
          <button id="upload-button" type="submit" class="button bg-primary">Upload</button>
        </p>
      </form>
    </div>
  </div>

  <div id="upload-success" class="modal">
    <div class="modal-content">
      <h2 class="header success padding">Upload success ✓</h2>

      <div id="upload-share-list" class="upload-width full"></div>

      <p class="padding no-margin center">
        <a href="?redirect&d={{ .Request.Display }}" class="button bg-grey">Close</a>
      </p>
    </div>
  </div>
{{ end }}
