{{ define "webhook-directory" }}
  <div id="webhook-form" class="modal webhook-form">
    <div class="modal-content">
      <h2 class="header">Webhook on this directory</h2>

      <form method="post" action="#">
        {{ template "webhook-form" . }}
      </form>
    </div>
  </div>
{{ end }}

{{ define "webhook-form" }}
  <input type="hidden" name="type" value="webhook" />
  <input type="hidden" name="method" value="POST" />

  <p class="padding no-margin center">
    <input id="recursive" type="checkbox" name="recursive" value="true" />
    <label for="recursive">Recursive on children folders</label>
  </p>

  <p class="padding no-margin flex">
    <span class="flex-grow center">
      <label for="webhook-kind-raw" class="block">
        <img class="icon icon-large clickable" src="{{ url "/svg/webhook?fill=aliceblue" }}" alt="raw logo" title="raw">
      </label>
      <input id="webhook-kind-raw" type="radio" name="kind" value="raw" checked>
    </span>

    <span class="flex-grow center">
      <label for="webhook-kind-discord" class="block">
        <img class="icon icon-large clickable" src="{{ url "/svg/discord" }}" alt="discord logo" title="discord">
      </label>
      <input id="webhook-kind-discord" type="radio" name="kind" value="discord">
    </span>

    <span class="flex-grow center">
      <label for="webhook-kind-slack" class="block">
        <img class="icon icon-large clickable" src="{{ url "/svg/slack?fill=aliceblue" }}" alt="slack logo" title="slack">
      </label>
      <input id="webhook-kind-slack" type="radio" name="kind" value="slack">
    </span>

    <span class="flex-grow center">
      <label for="webhook-kind-telegram" class="block">
        <img class="icon icon-large clickable" src="{{ url "/svg/telegram" }}" alt="telegram logo" title="telegram">
      </label>
      <input id="webhook-kind-telegram" type="radio" name="kind" value="telegram">
    </span>
  </p>

  <p class="padding no-margin">
    <label id="webhook-url-label" for="webhook-url" class="block">URL</label>
    <input id="webhook-url" class="full" type="text" name="url" value="" placeholder="http://website.com/fibr" />
  </p>

  <p id="telegram-chat-id" class="padding no-margin hidden">
    <label for="webhook-telegram-id" class="block">Chat ID</label>
    <input id="webhook-telegram-id" class="full" type="text" name="chat-id" value="" placeholder="12345678" />
  </p>

  <p class="padding no-margin">
    <label for="types" class="block">Types</label>
    <select id="types" name="types" class="full" multiple>
      <option value="upload">upload</option>
      <option value="create">create</option>
      <option value="rename">rename</option>
      <option value="delete">delete</option>
      <option value="start">start</option>
      <option value="access">access</option>
      <option value="description">description</option>
    </select>
  </p>

  {{ template "form_buttons" "Connect" }}
{{ end }}
