{{ define "webhook-list" }}
  <style type="text/css" nonce="{{ .nonce }}">
    #webhooks {
      border-spacing: 0;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #webhooks th,
    #webhooks td {
      padding: 1rem;
    }

    .webhook-content:hover {
      background-color: var(--grey);
    }

    .url {
      max-width: 30rem;
      text-align: left;
    }

    @media screen and (max-width: 485px) {
      .url {
        max-width: 20rem;
      }
    }

    @media screen and (max-width: 430px) {
      .url {
        max-width: 16rem;
      }
    }

    @media screen and (max-width: 375px) {
      .url {
        max-width: 12rem;
      }
    }

    @media screen and (max-width: 320px) {
      .url {
        max-width: 8rem;
      }
    }
  </style>

  <script type="text/javascript" nonce="{{ .nonce }}">
    document.addEventListener('readystatechange', async (event) => {
      if (event.target.readyState === 'complete') {
        {{ range .Webhooks }}
          const webhookDelete{{ raw .ID }} = document.getElementById('webhook-delete-{{ .ID }}');
          if (webhookDelete{{ raw .ID }}) {
            webhookDelete{{ raw .ID }}.addEventListener('click', (e) => {
              if (!confirm('Are you sure you want to delete webhook for {{ .Pathname }}?')) {
                e.preventDefault()
              }
            });
          }
        {{ end }}
      }
    });
  </script>

  <div id="webhook-list" class="modal">
    <div class="modal-content">
      <h2 class="flex flex-center header no-margin">
        <span>Webhooks</span>
        <span class="flex-grow"></span>
        <a href="#" class="button white small">Close</a>
      </h2>

      {{ if len .Webhooks }}
        <table id="webhooks" class="full padding">
          <caption>List of existing webhooks</caption>

          <thead>
            <tr>
              <th scope="col">Path</th>
              <th scope="col">URL</th>
              <th scope="col">Events</th>
              <td></td>
            </tr>
          </thead>

          {{ $root := . }}

          <tbody>
            {{ range .Webhooks }}
              <tr class="webhook-content">
                <th scope="row" class="ellipsis path">
                  <code>{{ or .Pathname "/" }}</code>
                </th>
                <th scope="row" class="ellipsis url">
                  <code>{{ .URL }}</code>
                </th>
                <th scope="row">
                  {{ if eq (len .Types) 6 }}
                    All
                  {{ else }}
                    {{ range .Types }}
                      {{ if eq .String "upload" }}
                        <img class="icon" src="{{ url "/svg/cloud-upload-alt?fill=silver" }}" alt="upload icon" title="upload">
                      {{ end }}
                      {{ if eq .String "create" }}
                        <img class="icon" src="{{ url "/svg/folder?fill=silver" }}" alt="folder icon" title="create">
                      {{ end }}
                      {{ if eq .String "rename" }}
                        <img class="icon" src="{{ url "/svg/edit?fill=silver" }}" alt="edit icon" title="rename">
                      {{ end }}
                      {{ if eq .String "delete" }}
                        <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="delete icon" title="delete">
                      {{ end }}
                      {{ if eq .String "start" }}
                        <img class="icon" src="{{ url "/svg/play?fill=silver" }}" alt="delete icon" title="start">
                      {{ end }}
                      {{ if eq .String "access" }}
                        <img class="icon" src="{{ url "/svg/info?fill=silver" }}" alt="access icon" title="access">
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </th>

                <td >
                  <form method="post">
                    <input type="hidden" name="type" value="webhook" />
                    <input type="hidden" name="method" value="DELETE" />
                    <input type="hidden" name="id" value="{{ .ID }}" />
                    <button id="webhook-delete-{{ .ID }}" type="submit" class="button button-icon" alt="Delete">
                      <img class="icon" src="{{ url "/svg/times?fill=silver" }}" alt="Delete">
                    </button>
                  </form>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        <p class="padding no-margin center">
          <em>No webhook yet.</em>
        </p>
      {{ end }}

      <p class="padding no-margin center">
        <a href="#webhook-form" class="button bg-primary">Add</a>
      </p>
    </div>
  </div>
{{ end }}
