{{ define "style-modal" }}
  {{ $root := . }}

  <style>
    .modal {
      align-items: center;
      background-color: rgba(84, 84, 84, 0.75);
      display: none;
      height: 100vh;
      justify-content: center;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      width: 100vw;
    }

    .modal-content {
      background-color: var(--dark);
      display: flex;
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;
      pointer-events: auto;
    }

    {{- range .Content.Files -}}
      {{ if $root.Request.CanEdit -}}
        #delete-modal-{{ .ID }}:target,
        #edit-modal-{{ .ID }}:target,
      {{- end -}}

      {{ if $root.Request.CanShare -}}
        #share-form-{{ .ID }}:target,
      {{- end -}}
    {{- end -}}
    #upload-modal:target,
    #upload-success:target,
    #folder-modal:target,
    #share-form:target,
    #share-list:target {
      display: flex;
      z-index: 5;
    }

    {{- range .Content.Files -}}
      {{ if $root.Request.CanEdit -}}
        #delete-modal-{{ .ID }}:target ~ .content,
        #edit-modal-{{ .ID }}:target ~ .content,
      {{- end -}}

      {{ if $root.Request.CanShare -}}
        #share-form-{{ .ID }}:target ~ .content,
      {{- end -}}
    {{- end -}}
    #upload-modal:target ~ .content,
    #upload-success:target ~ .content,
    #folder-modal:target ~ .content,
    #share-form:target ~ .content,
    #share-list:target ~ .content {
      pointer-events: none;
    }
  </style>
{{ end }}
