{{ define "style-color" }}
  <style>
    :root {
      --primary: royalblue;
      --success: limegreen;
      --danger: crimson;
      --dark: #272727;
      --grey: #3b3b3b;
      --white: silver;
    }

    .primary {
      color: var(--success);
    }

    .success {
      color: var(--success);
    }

    .danger {
      color: var(--danger);
    }

    .grey {
      color: var(--grey);
    }

    .white {
      color: var(--white);
    }

    .bg-primary,
    .bg-primary:hover {
      background-color: var(--primary);
      color: var(--white);
      text-decoration: none;
    }

    .bg-success,
    .bg-success:hover {
      background-color: var(--success);
      color: var(--white);
      text-decoration: none;
    }

    .bg-danger,
    .bg-danger:hover {
      background-color: var(--danger);
      color: var(--white);
      text-decoration: none;
    }

    .bg-grey,
    .bg-grey:hover {
      background-color: var(--grey);
      color: var(--white);
      text-decoration: none;
    }
  </style>
{{ end }}
