{{ define "edit-modal" }}
  <div id="edit-modal-{{ sha1 . }}" class="modal full flex flex-center">
    <div class="modal-content">
      <h2 class="header">Rename</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="item" />
        <input type="hidden" name="method" value="PATCH" />
        <input type="hidden" name="name" value="{{ .Name }}" />

        <p class="center">
          <label for="name-{{ sha1 . }}">Name</label>
          <input id="name-{{ sha1 . }}" type="text" name="newName" value="{{ .Name }}" />
        </p>

        <p class="center">
          <a href="#" class="button white">Cancel</a>
          <button type="submit" class="button bg-important">Update</button>
        </p>
      </form>
    </div>
  </div>
{{ end }}
