{{ define "edit-modal" }}
  <div id="edit-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Rename</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="item" />
        <input type="hidden" name="method" value="PATCH" />
        <input type="hidden" name="name" value="{{ .Name }}" />

        <p class="padding center">
          <label for="name-{{ .ID }}">Name</label>
          <input id="name-{{ .ID }}" type="text" name="newName" value="{{ .Name }}" />
        </p>

        <p class="padding center">
          <a href="#" class="button white">Cancel</a>
          <button type="submit" class="button bg-primary">Update</button>
        </p>
      </form>
    </div>
  </div>
{{ end }}
