{{ define "edit-modal" }}
  <div id="edit-modal-{{ .ID }}" class="modal">
    <div class="modal-content">
      <h2 class="header">Rename</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="item" />
        <input type="hidden" name="method" value="PATCH" />
        <input type="hidden" name="name" value="{{ .Name }}" />

        <p class="padding no-margin center">
          <label for="folder-{{ .ID }}">Folder</label>
          <input id="folder-{{ .ID }}" type="text" name="newFolder" value="{{ .URI }}" />
        </p>

        <p class="padding no-margin center">
          <label for="name-{{ .ID }}">Name</label>
          <input id="name-{{ .ID }}" type="text" name="newName" value="{{ .Name }}" />
        </p>

        {{ template "form_buttons" "Update" }}
      </form>
    </div>
  </div>
{{ end }}
