{{ define "error" }}
  {{ template "head" . }}

  <header class="header center">
    <h1 class="no-margin no-padding">
      <a href="/{{ if .Request.Share }}{{ .Request.Share.ID }}/{{ end }}">{{ if .Request.Share }}{{ .Request.Share.RootName }}{{ else }}fibr{{ end }}</a>
    </h1>
  </header>

  <h2 class="center">Error {{ .Error.Status }}</h2>

  <h2 class="padding bg-danger no-margin-bottom">Error message</h2>
  <code class="bg-grey flex padding">
    {{ .Error.Err }}
  </code>

  {{ template "footer" . }}
{{ end }}
