{{ define "file" }}
  {{ template "header" . }}
  {{ template "layout" . }}

  <style>
    body {
      background-color: var(--white);
      display: grid;
      grid-template-rows: auto 1fr;
    }

    img, video, object {
      border: 0;
      height: 100%;
      image-orientation: from-image;
      margin: 0 auto;
      object-fit: scale-down;
      width: 100%;
    }
  </style>

  {{ if .Content.File.IsVideo }}
    <video id="content" controls src="{{ .Content.File.Name }}" type="{{ .Content.File.Mime }}"></video>
  {{ else }}
    {{ if .Content.File.IsImage }}
      <img id="content" src="{{ .Content.File.Name }}" alt="{{ .Content.File.Name }}" />
    {{ else }}
      <object id="content" data="{{ .Content.File.Name }}" type="{{ .Content.File.Mime }}"></object>
    {{ end }}
  {{ end }}

  {{ template "footer" . }}
{{ end }}
