{{ define "files" }}
  {{ template "layout" . }}
  {{ template "menu" . }}

  {{ $root := . }}

  {{ if .Request.CanEdit }}
    {{ template "upload-modal" . }}
    {{ template "folder-modal" . }}
  {{ end }}

  {{ if .Request.CanShare }}
    {{ template "share-form" . }}
    {{ template "share-list" . }}
  {{ end }}

  {{ if .Request.CanEdit }}
    {{ range .Content.Files }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}
    {{ end }}
  {{ end }}

  <script>
    /**
     * Async image loading
     */
    function getThumbnails() {
      return fetch('?thumbnail', { credentials: 'same-origin' }).then(response => {
        if (response.status >= 400) {
          return Promise.reject('unable to load thumbnails');
        }
        return response.json();
      });
    }

    window.addEventListener(
      'load',
      () => {
        document.querySelectorAll('[data-picture]').forEach(picture => {
          replaceContent(picture, generateThrobber());
        });

        getThumbnails()
          .then(thumbnails => {
            Object.keys(thumbnails).forEach(id => {
              const picture = document.getElementById(`picture-${id}`);

              if (picture) {
                const img = new Image();
                img.src = `data:image/jpeg;base64,${thumbnails[id]}`;
                img.alt = picture.dataset.alt;

                replaceContent(picture, img);
              }
            });
          })
          .catch(e => console.error(e));
      },
      false,
    );
  </script>

  <div class="content">
    {{ template "modifiers" . }}

    <span class="padding-left">{{ len .Content.Files }} elements</span>

    <ul id="files">
      {{ range .Content.Files }}
        {{ if and (.IsImage) (eq $root.Layout "grid") }}
          <li class="image">
        {{ else }}
          <li class="file">
        {{ end }}
          <a class="filelink" href="{{ .Name }}{{ if .IsDir }}/{{ if eq $root.Layout "list" }}?d=list{{ end }}{{ else }}?browser=true{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Layout "grid") (hasThumbnail $root.Request .) }}
              {{ template "async-image" asyncImage . $root.Config.Version }}
            {{ else }}
              {{ if .IsDir }}
                <img class="icon" src="/svg/folder?fill=silver" alt="Folder">
              {{ else }}
                <img class="icon" src="/svg/{{ iconFromExtension . }}?fill=silver" alt="File">
              {{ end }}
              <span class="filename">{{ .Name }}</span>
            {{ end }}

            {{ if $root.Request.CanEdit }}
              <a href="#delete-modal-{{ sha1 . }}" class="button button-icon file-delete" alt="Delete">
                <img class="icon" src="/svg/times?fill=silver" alt="Delete">
              </a>
              <a href="#edit-modal-{{ sha1 . }}" class="button button-icon file-edit" alt="Edit">
                <img class="icon" src="/svg/pencil-alt?fill=silver" alt="Edit">
              </a>
            {{ end }}

            {{ if not .IsDir }}
              <a href="{{ .Name }}" class="button button-icon file-download" alt="Download" download>
                <img class="icon" src="/svg/download?fill=silver" alt="Download">
              </a>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  {{ template "script" }}
  {{ template "footer" . }}
{{ end }}
