{{- define "file" -}}
  {{- template "layout" . -}}

  {{- if .Content.File.IsVideo -}}
    <video controls src="{{- .Request.Path -}}" type="{{ .Content.File.Mime -}}"></video>
  {{- else -}}
    <object data="{{- .Request.Path -}}" type="{{ .Content.File.Mime -}}"></object>
  {{- end -}}

  {{- template "footer" . -}}
{{- end -}}
