{{- define "file" -}}
  {{- template "layout" . -}}

  {{- if .Content.File.IsVideo -}}
    <video controls src="{{- .Request.Path -}}" type="{{ .Content.File.Mime -}}"></video>
  {{- else -}}
    {{- if .Content.File.IsImage -}}
      <img src="{{- .Request.Path -}}" alt="{{- .Content.File.Name -}}" />
    {{- else -}}
      <object data="{{- .Request.Path -}}" type="{{ .Content.File.Mime -}}"></object>
    {{- end -}}
  {{- end -}}

  {{- template "footer" . -}}
{{- end -}}
