{{ define "file" }}
  {{ template "layout" . }}

  <div class="browser">
    {{ if .Content.File.IsVideo }}
      <video controls src="{{ .Content.File.Name }}" type="{{ .Content.File.Mime }}"></video>
    {{ else }}
      {{ if .Content.File.IsImage }}
        <img src="{{ .Content.File.Name }}" alt="{{ .Content.File.Name }}" />
      {{ else }}
        <object data="{{ .Content.File.Name }}" type="{{ .Content.File.Mime }}"></object>
      {{ end }}
    {{ end }}
  </div>

  {{ template "navigation" . }}
  {{ template "footer" . }}
{{ end }}
