{{ define "files" }}
  {{ template "layout" . }}

  {{ $root := . }}

  {{ if .Request.CanEdit }}
    {{ template "upload-modal" . }}
    {{ template "folder-modal" . }}
  {{ end }}

  {{ if .Request.CanShare }}
    {{ template "share-form" . }}
    {{ template "share-list" . }}
  {{ end }}

  {{ if .Request.CanEdit }}
    {{ range .Content.Files }}
      {{ template "edit-modal" . }}
      {{ template "delete-modal" . }}
    {{ end }}
  {{ end }}

  <script>
    /**
     * Async image loading
     */
    async function getThumbnails() {
      const response = await fetch('?thumbnail', { credentials: 'same-origin' })

      if (response.status >= 400) {
        return Promise.reject('unable to load thumbnails');
      }

      if (response.status === 204) {
        return {};
      }

      return response.json();
    }

    window.addEventListener(
      'load',
      async () => {
        document.querySelectorAll('[data-picture]').forEach(picture => {
          replaceContent(picture, generateThrobber());
        });

        const thumbnails = await getThumbnails();

        Object.keys(thumbnails).forEach(id => {
          const picture = document.getElementById(`picture-${id}`);

          if (picture) {
            const img = new Image();
            img.src = `data:image/jpeg;base64,${thumbnails[id]}`;
            img.alt = picture.dataset.alt;

            replaceContent(picture, img);
          }
        });
      },
      false,
    );
  </script>

  <div class="content">
    <div id="menu" class="flex flex-center">
      <a id="list-display" class="button button-icon" href="?d=list">
        <img class="icon" src="/svg/list?fill=silver" alt="List">
      </a>
      <a id="grid-display" class="button button-icon" href="?d=grid">
        <img class="icon" src="/svg/th?fill=silver" alt="Grid">
      </a>

      <span class="padding-left">{{ len .Content.Files }}<span class="hide-xs"> element{{ if gt (len .Content.Files) 1 }}s{{ end }}</span></span>
      <span class="flex-grow"></span>

      {{ if .Request.CanEdit }}
        <a href="#upload-modal" class="button button-icon">
          <img class="icon" src="/svg/cloud-upload-alt?fill=silver" alt="Upload">
        </a>
        <a href="#folder-modal" class="button button-icon">
          <img class="icon" src="/svg/folder?fill=silver" alt="Create folder">
        </a>
      {{ end }}

      {{ if .Request.CanShare }}
        <a href="#share-list" class="button button-icon">
          <img class="icon" src="/svg/share-alt-square?fill=silver" alt="Share">
        </a>
      {{ end }}

      {{ if gt (len .Content.Files) 0 }}
        <a class="modifier padding" href="?download" download>
          <img class="icon" src="/svg/download?fill=silver" alt="Download">
        </a>
      {{ end }}
    </div>

    <ul id="files">
      {{ range .Content.Files }}
        {{ if and (.IsImage) (eq $root.Layout "grid") }}
          <li class="image">
        {{ else }}
          <li class="file">
        {{ end }}
          <a class="filelink center" href="{{ .Name }}{{ if .IsDir }}/{{ if eq $root.Layout "list" }}?d=list{{ end }}{{ else }}?browser{{ end }}" title="{{ .Name }}">
            {{ if and (eq $root.Layout "grid") (hasThumbnail $root.Request .) }}
              {{ template "async-image" asyncImage . $root.Config.Version }}
            {{ else }}
              {{ if .IsDir }}
                <img class="icon" src="/svg/folder?fill=silver" alt="Folder">
              {{ else }}
                <img class="icon" src="/svg/{{ iconFromExtension . }}?fill=silver" alt="File">
              {{ end }}
              <span class="filename ellipsis">{{ .Name }}</span>
            {{ end }}

            {{ if $root.Request.CanEdit }}
              <a href="#delete-modal-{{ sha1 . }}" class="button button-icon file-delete" alt="Delete">
                <img class="icon" src="/svg/times?fill=silver" alt="Delete">
              </a>
              <a href="#edit-modal-{{ sha1 . }}" class="button button-icon file-edit" alt="Edit">
                <img class="icon" src="/svg/pencil-alt?fill=silver" alt="Edit">
              </a>
            {{ end }}

            {{ if not .IsDir }}
              <a href="{{ .Name }}" class="button button-icon file-download" alt="Download" download>
                <img class="icon" src="/svg/download?fill=silver" alt="Download">
              </a>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>

  <script>
    /**
     * Remove all child and append given one
     * @param {DOMNode} element Element to clear
     */
    function replaceContent(element, newContent) {
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }

      if (newContent) {
        element.appendChild(newContent);
      }
    }

    /**
     * Generate a throbber.
     * @return {DOMNode}
     */
    function generateThrobber(className) {
      const wrapper = document.createElement('div');
      wrapper.classList.add('throbber', 'center', className);

      for (let i = 1; i < 4; i++) {
        const dot = document.createElement('div');
        dot.classList.add(`bounce${i}`);
        wrapper.appendChild(dot);
      }

      return wrapper;
    }
  </script>

  {{ template "navigation" . }}
  {{ template "footer" . }}
{{ end }}
