{{ define "folder-modal" }}
  <div id="folder-modal" class="modal">
    <div class="modal-content">
      <h2 class="header">Create new folder</h2>

      <form method="post" action="#">
        <input type="hidden" name="type" value="folder" />
        <input type="hidden" name="method" value="PUT" />

        <p class="padding no-margin center">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" />
        </p>

        {{ template "form_buttons" "Create" }}
      </form>
    </div>
  </div>
{{ end }}
