{{ define "layout" }}
  {{ $root := . }}

  {{ template "navigation" . }}

  <header class="header full-screen">
    <h1 class="medium no-margin no-padding" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {{ template "root_link" . }}
      </span>

      {{ range $index, $path := .Content.Paths }}
        {{ if or (not $root.Request.Share) (ne $index 0) }}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             / 
            <a href="/{{ rebuildPaths $root.Content.Paths $index }}/" itemprop="item">
              <span itemprop="name">{{ $path }}</span>
            </a>
          </span>
        {{ end }}
      {{ end }}

      {{ if .Content.File }}
        <h2 class="small bg-grey no-margin full ellipsis">↳ <a href="{{ .Content.File.Name }}">{{ .Content.File.Name }}</a></h2>

        <nav class="flex">
          {{ if .Content.Previous }}
            <a href="{{ .Content.Previous.Name }}{{ if not .Content.Previous.IsDir }}?browser{{ end }}" title="Previous file">←</a>
          {{ end }}

          <span class="flex-grow"></span>

          {{ if .Content.Next }}
            <a href="{{ .Content.Next.Name }}{{ if not .Content.Next.IsDir }}?browser{{ end }}" title="Previous file">→</a>
          {{ end }}
        </nav>
      {{ end }}
    </h1>
  </header>

  {{ template "message" .Message }}
{{ end }}
