{{ define "layout" }}
  {{ template "header" . }}

  {{ $root := . }}

  <header class="header">
    <h1 class="title" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        
        <a href="/{{ if .Request.Share }}{{ .Request.Share.ID }}/{{ end }}" itemprop="item">
          <span itemprop="name">{{ if .Request.Share }}{{ .Request.Share.RootName }}{{ else }}{{ .Config.RootName }}{{ end }}</span>
        </a>
      </span>
      {{ range $index, $path := .Content.Paths }}
        {{ if or (not $root.Request.Share) (ne $index 0) }}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             / 
            <a href="/{{ rebuildPaths $root.Content.Paths $index }}/" itemprop="item">
              <span itemprop="name">{{ $path }}</span>
            </a>
          </span>
        {{ end }}
      {{ end }}
    </h1>
  </header>

  {{ template "message" .Message }}
{{ end }}
