{{ define "layout" }}
  {{ template "head" . }}

  {{ $root := . }}

  <header class="header full-screen">
    <h1 class="medium no-margin no-padding" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

        <a href="/{{ if .Request.Share }}{{ .Request.Share.ID }}/{{ end }}" itemprop="item">
          <span itemprop="name">{{ if .Request.Share }}{{ .Request.Share.RootName }}{{ else }}fibr{{ end }}</span>
        </a>
      </span>

      {{ range $index, $path := .Content.Paths }}
        {{ if or (not $root.Request.Share) (ne $index 0) }}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             / 
            <a href="/{{ rebuildPaths $root.Content.Paths $index }}/" itemprop="item">
              <span itemprop="name">{{ $path }}</span>
            </a>
          </span>
        {{ end }}
      {{ end }}

      {{ if .Content.File }}
        <h2 class="small bg-grey no-margin full ellipsis">↳ <a href="{{ .Content.File.Name }}">{{ .Content.File.Name }}</a></h2>
      {{ end }}
    </h1>
  </header>

  {{ template "message" .Message }}
{{ end }}
