{{- define "menu" -}}
  {{- if or .CanEdit .CanShare -}}
    <div id="tools">
      {{- if .CanEdit -}}
        <a class="button icon icon-large icon-cloud-upload-alt" href="#upload-modal"></a>
        <a class="button icon icon-large icon-folder" href="#folder-modal"></a>
      {{- end -}}

      {{- if .CanShare -}}
        <a class="button icon icon-large icon-share-alt-square" href="#share-modal"></a>
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
