{{ define "menu" }}
  {{ if or .Request.CanEdit .Request.CanShare }}
    <div id="tools" class="padding">
      {{ if .Request.CanEdit }}
        <a href="#upload-modal" class="button button-icon">
          <img class="icon icon-large" src="/svg/cloud-upload-alt?fill=silver" alt="Upload">
        </a>
        <a href="#folder-modal" class="button button-icon">
          <img class="icon icon-large" src="/svg/folder?fill=silver" alt="Create folder">
        </a>
      {{ end }}

      {{ if .Request.CanShare }}
        <a href="#share-list" class="button button-icon">
          <img class="icon icon-large" src="/svg/share-alt-square?fill=silver" alt="Share">
        </a>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
