{{ define "navigation" }}
  <script>
    /**
     * Go back from state.
     */
    function goBack() {
      {{ if eq .Layout "browser" }}
        window.location.href = '/{{ .Content.Parent }}';
      {{ else }}
        const previousHash = document.location.hash;
        document.location.hash = '';

        if (/success$/gim.test(previousHash)) {
          window.location.reload(true);
        }
      {{ end }}
    }

    /**
     * Go to the previous item.
     */
    function goToPrevious() {
      {{ if .Content.Previous }}
        window.location.href = '{{ .Content.Previous.Name }}{{ if not .Content.Previous.IsDir }}?browser{{ end }}';
      {{ end }}
    }

    /**
     * Go to the next item.
     */
    function goToNext() {
      {{ if .Content.Next }}
        window.location.href = '{{ .Content.Next.Name }}{{ if not .Content.Next.IsDir }}?browser{{ end }}';
      {{ end }}
    }

    /**
     * Handle swipe event.
     * @param  {Element}  touchSurface DOM Element that will handle swipe
     * @param  {Function} callback     Callback called when swipe in detected
     */
    function addSwipe(touchSurface, callback = () => null) {
      const threshold = 150;
      const allowedTime = 300;

      let startX;
      let startTime;

      touchSurface.addEventListener(
        'touchstart',
        (e) => {
          startX = e.changedTouches[0].pageX;
          startTime = new Date().getTime();

          e.preventDefault();
        },
        false,
      );

      touchSurface.addEventListener('touchmove', (e) => e.preventDefault(), false);
      touchSurface.addEventListener(
        'touchend',
        (e) => {
          if (new Date().getTime() - startTime > allowedTime) {
            return;
          }

          const distX = e.changedTouches[0].pageX - startX;
          if (Math.abs(distX) < threshold) {
            return;
          }

          callback(distX < 0 ? 'left' : 'right');
          e.preventDefault();
        },
        false,
      );
    }

    document.addEventListener('DOMContentLoaded', () => {
      const content = document.getElementById('content');
      if (!content) {
        return;
      }

      addSwipe(content, (direction) => {
        if (direction === 'right') {
          goToPrevious();
        } else if (direction === 'left') {
          goToNext();
        }
      });
    });

    /**
     * Handle Previous/next.
     */
    window.onkeyup = e => {
      switch(e.key) {
        case 'ArrowLeft':
          goToPrevious();
          break;

        case 'ArrowRight':
          goToNext();
          break;

        case 'Escape':
          goBack();
          break;
      }
    };
  </script>
{{ end }}
