{{- define "script" -}}
  <script type="text/javascript">
    /**
     * Handle Escape for closing modal.
     */
    document.onkeyup = e => {
      if (e.keyCode === 27) {
        const previousHash = document.location.hash;
        document.location.hash = '';

        if (/success$/gim.test(previousHash)) {
          window.location.reload(true);
        }
      }
    };

    /**
     * Remove all child and append given one
     * @param {DOMNode} element Element to clear
     */
    function replaceContent(element, newContent) {
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }

      if (newContent) {
        element.appendChild(newContent);
      }
    }

    /**
     * Generate a throbber.
     * @return {DOMNode}
     */
    function generateThrobber(className) {
      const wrapper = document.createElement('div');
      wrapper.classList.add('throbber', className);

      for (let i = 1; i < 4; i++) {
        const dot = document.createElement('div');
        dot.classList.add(`bounce${i}`);
        wrapper.appendChild(dot);
      }

      return wrapper;
    }
  </script>
{{- end -}}
