{{- define "script" -}}
  <script type="text/javascript">
    /**
     * Async image loading
     */
    function getThumbnails() {
      return fetch('?thumbnail', { credentials: 'same-origin' }).then(response => {
        if (response.status >= 400) {
          return Promise.reject('Error while loading thumbnails')
        }
        return response.json();
      });
    }

    window.addEventListener('load', function() {
      var throbbers = document.querySelectorAll('.throbber');
      for (var i = throbbers.length - 1; i >= 0; i--) {
        throbbers[i].style.display = 'inline-block';
      }

      getThumbnails().then(thumbnails => {
        for (var i = throbbers.length - 1; i >= 0; i--) {
          var throbber = throbbers[i];

          var img = new Image();
          img.src = 'data:' + throbber.dataset.mime + ';base64,' + thumbnails[throbber.dataset.id];
          img.alt = throbber.dataset.alt;

          document.getElementById('picture-' + throbber.dataset.id).replaceChild(img, throbber);
        }
      });
    }, false);

    /**
     * Handle Escape for closing modal.
     */
    document.onkeyup = function(e) {
      if (e.keyCode === 27) {
        document.location.hash = '';
      }
    };

    /**
     * Drag'n drop.
     */
    var dropZone = document.getElementsByTagName('body')[0];

    /**
     * Noop function for event handler.
     * @param  {Object} e Event
     */
    function eventNoop(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    dropZone.addEventListener('dragover', eventNoop);
    dropZone.addEventListener('dragleave', eventNoop);
    dropZone.addEventListener('drop', function(e) {
      eventNoop(e);

      window.location.hash = '#upload-modal';
      document.getElementById('file').files = e.dataTransfer.files;
    });

    /**
     * Handle upload submit
     * @param  {Object} e Submit event
     */
    function upload(e) {
      e.preventDefault();

      var values = [].filter
        .call(event.target, function(e) {
          return e.nodeName.toLowerCase() === 'input';
        })
        .reduce(function(acc, cur) {
          if (cur.type === 'file') {
            acc.files = cur.files;
          } else {
            acc[cur.name] = cur.value;
          }

          return acc;
        }, {});

      var promises = [];

      [].forEach.call(values.files, function(file) {
        var formData = new FormData();
        formData.append('method', values.method);
        formData.append('files[]', file);

        promises.push(
          fetch('', {
            method: 'POST',
            body: formData,
          }),
        );
      });

      Promise.all(promises).then(function() {
        document.location.hash = '';
        window.location.reload(true);
      });

      return false;
    }
  </script>
{{- end -}}
