{{ define "style-modal" }}
  <style>
    {{ if .Request.CanEdit -}}
      {{- range .Content.Files -}}
        #delete-modal-{{ sha1 . }}, #edit-modal-{{ sha1 . }},
      {{- end -}}
    {{- end -}}
    #upload-modal,
    #upload-success,
    #folder-modal,
    #share-form,
    #share-list {
      display: none;
    }

    {{ if .Request.CanEdit -}}
      {{- range .Content.Files -}}
        #delete-modal-{{ sha1 . }}:target, #edit-modal-{{ sha1 . }}:target,
      {{- end -}}
    {{- end -}}
    #upload-modal:target,
    #upload-success:target,
    #folder-modal:target,
    #share-form:target,
    #share-list:target {
      display: flex;
      z-index: 5;
    }

    {{ if .Request.CanEdit -}}
      {{- range .Content.Files -}}
        #delete-modal-{{ sha1 . }}:target ~ .content, #edit-modal-{{ sha1 . }}:target ~ .content,
      {{- end -}}
    {{- end -}}
    #upload-modal:target ~ .content,
    #upload-success:target ~ .content,
    #folder-modal:target ~ .content,
    #share-form:target ~ .content,
    #share-list:target ~ .content {
      pointer-events: none;
    }
  </style>
{{ end }}
