{{ define "style" }}
  <style>
    :root {
      --primary: royalblue;
      --success: limegreen;
      --danger: crimson;
      --dark: #272727;
      --grey: #3b3b3b;
      --white: silver;

      --header-height: 5rem;
    }

    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
      margin: 0;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    input {
      background-color: var(--white);
      color: var(--dark);
    }

    p {
      margin: 1rem;
    }

    a {
      text-decoration: none;
      color: var(--white);
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }

    {{ if eq .Layout "browser" }}
      body {
        display: flex;
        flex-direction: column;
      }

      object {
        border: 0;
        flex-basis: auto;
        flex: 1 1;
        max-height: 100%;
        max-width: 100%;
      }

      video, img {
        border: 0;
        max-height: 100%;
        max-width: 100%;
      }

      .browser {
        background-color: var(--white);
        flex: 1 1;
        max-height: calc(100% - var(--header-height));
        position: relative;
        text-align: center;

        {{ if not .Content.File.IsImage }}
          display: flex;
          flex-direction: column;
        {{ end }}
      }
    {{ end }}

    picture {
      margin: 0;
    }

    .center {
      text-align: center;
    }

    .full {
      width: 100%;
    }

    .padding {
      padding: 1rem;
    }

    .padding-left {
      padding-left: 1rem;
    }

    .no-margin-bottom {
      margin-bottom: 0;
    }

    .flex {
      display: flex;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex: 1 1;
    }

    .header {
      background-color: var(--grey);
      height: var(--header-height);
      margin-top: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .title {
      margin: 0;
      padding: 0;
    }

    .icon {
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--white);
      display: inline-block;
      height: 2rem;
      text-decoration: none;
      vertical-align: middle;
      width: 2rem;
    }

    .icon-medium {
      height: 3rem;
      width: 3rem;
    }

    .icon-large {
      height: 4rem;
      width: 4rem;
    }

    .thumbnail {
      max-height: 100%;
    }

    .button {
      border-radius: 4px;
      border: 0;
      color: var(--dark);
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
    }

    .button-icon {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }

    .important {
      color: var(--primary);
    }

    .bg-important {
      background-color: var(--primary);
      color: var(--white);
    }

    .success {
      color: var(--success);
    }

    .danger {
      color: var(--danger);
    }

    .bg-danger {
      background-color: var(--danger);
      color: var(--white);
    }

    .white {
      color: var(--white);
    }

    .bg-grey {
      background-color: var(--grey);
      color: var(--white);
    }

    .modifier {
      display: inline-block;
      margin-top: 0.5rem;
    }

    .modifier:first-of-type {
      margin-left: 0.5rem;
    }

    .modal {
      background-color: rgba(84, 84, 84, 0.75);
      height: 100%;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
    }

    .modal-content {
      background-color: var(--dark);
      pointer-events: auto;
    }

    @media screen and (max-width: 640px) {
      .modal-content {
        width: 100%;
      }
    }

    .message {
      margin: 0;
      padding: 1rem 2rem;
      text-align: center;
    }

    #tools {
      background-color: var(--grey);
      border-left: 1px solid var(--white);
      border-top: 1px solid var(--white);
      bottom: 0;
      position: fixed;
      right: 0;
      z-index: 10;
    }

    #tools a {
      margin: 0.5rem 1rem;
    }

    .content {
      padding-bottom: 7rem;
    }

    #files {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #shares {
      width: 100%;
    }

    #uploadList {
      margin: 1rem auto;
      max-width: 30rem;
    }

    .upload-item {
      display: inline-block;
    }

    .upload-name {
      flex: 1 1;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .upload-status {
      margin-left: 0.5rem;
      text-align: right;
      width: 2rem;
    }

    .share-content td {
      border-bottom: 1px solid var(--grey);
    }

    .share-content:hover {
      background-color: var(--grey);
    }

    .throbber {
      margin: auto;
      text-align: center;
    }

    .throbber > div {
      background-color: var(--dark);
    }

    .throbber-white > div {
      background-color: var(--white);
    }

    .throbber > div {
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      border-radius: 100%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
    }

    .throbber .bounce1 {
      animation-delay: -0.32s;
    }

    .throbber .bounce2 {
      animation-delay: -0.16s;
    }

    @keyframes sk-bouncedelay {
      0%,
      80%,
      100% {
        transform: scale(0);
      }

      40% {
        transform: scale(1);
      }
    }

    #list-display,
    #grid-display {
      background-color: var(--grey);
    }

    {{ if eq .Layout "list" }}
      #list-display {
        background-color: var(--primary);
      }

      .file {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 1rem 0;
      }

      .filelink {
        align-items: center;
        display: inline-flex;
        height: 2.5rem;
        width: 45rem;
      }

      .filename {
        display: inline-block;
        flex: 1 1;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .filelink .icon {
        margin-right: 1rem;
      }

      .file-edit,
      .file-download,
      .file-delete {
        display: none;
      }

      .file-edit,
      .file-download {
        margin-left: 0.5rem;
      }

      .file:hover .file-edit,
      .file:hover .file-download,
      .file:hover .file-delete {
        display: inline-block;
      }

      .file-edit .icon,
      .file-download .icon,
      .file-delete .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .filelink {
          {{ if .Request.CanEdit }}
            width: calc(100% - 7rem);
          {{ else }}
            width: calc(100% - 2.5rem);
          {{ end }}
        }

        .file-edit,
        .file-download,
        .file-delete {
          display: inline-block;
        }
      }
    {{ end }}

    {{ if eq .Layout "grid" }}
      #grid-display {
        background-color: var(--primary);
      }

      #files {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        margin: .5rem;
      }

      #files > * {
        align-items: center;
        background-color: var(--grey);
        display: flex;
        min-height: 12rem;
        position: relative;
      }

      .file {
        padding: 0.5rem;
      }

      .filelink {
        text-align: center;
        width: 100%;
      }

      .filelink .icon {
        height: 6rem;
        width: 6rem;
      }

      .filelink picture img {
        vertical-align: middle;
        width: 100%;
      }

      .filename {
        display: block;
        margin-top: 1rem;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file-edit,
      .file-download,
      .file-delete {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
        top: 0.5rem;
      }

      .file-download {
        left: 0.5rem;
      }

      .file-edit,
      .file-delete {
        right: 0.5rem;
      }

      .file-delete {
        top: 4rem;
      }

      #files > *:hover .file-edit,
      #files > *:hover .file-download,
      #files > *:hover .file-delete {
        display: block;
      }
    {{ end }}

    @media print {
      body::before {
        content: 'Save ink, share link. {{ .PublicURL }}';
      }

      body > * {
        display: none;
      }
    }
  </style>
{{ end }}
