{{ define "style" }}
  {{ if .Request }}
    {{ template "style-button" . }}
    {{ template "style-color" . }}
    {{ template "style-icon" . }}
    {{ template "style-modal" . }}
    {{ template "style-throbber" . }}
  {{ end }}

  <style>
    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    input {
      background-color: var(--white);
      color: var(--dark);
    }

    p {
      margin: 1rem;
    }

    a {
      color: var(--white);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }

    {{ if eq .Layout "browser" }}
      body {
        background-color: var(--white);
        display: grid;
        grid-template-rows: auto 1fr;
      }

      img, video, object {
        border: 0;
        height: 100%;
        image-orientation: from-image;
        margin: 0 auto;
        object-fit: scale-down;
        width: 100%;
      }

    {{ end }}

    .flex {
      display: flex;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex: 1 1;
    }

    .header {
      background-color: var(--grey);
      margin-top: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .thumbnail {
      max-height: 100%;
    }

    .message {
      padding: 1rem 2rem;
    }

    #menu {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }

    #files {
      list-style: none;
    }

    #upload-form {
      display: flex;
      flex-direction: column;
      flex: 1 1;
    }

    #upload-list {
      margin: 1rem auto;
      max-width: 30rem;
      overflow-y: auto;
    }

    #shares {
      border-collapse: separate;
      border-spacing: 1rem;
    }

    .upload-item {
      display: inline-block;
      width: calc(100% - 2rem);
    }

    .upload-name {
      flex: 1 1;
      text-align: left;
    }

    .upload-status {
      margin-left: 0.5rem;
      text-align: right;
      width: 2rem;
    }

    .share-content:hover {
      background-color: var(--grey);
    }

    {{ if eq .Layout "list" }}
      #list-display {
        background-color: var(--primary);
      }

      .file {
        align-items: center;
        display: flex;
        margin: 0.5rem 1rem 0;
      }

      @media screen and (min-width: 640px) {
        .file .button-icon {
          padding: 0;
        }
      }

      .filelink {
        display: inline-flex;
        height: 2.5rem;
        width: 45rem;
      }

      .filename {
        display: inline-block;
        flex: 1 1;
        text-align: left;
      }

      .file-edit,
      .file-download,
      .file-delete {
        display: none;
      }

      .file-edit,
      .file-download {
        margin-left: 0.5rem;
      }

      .file:hover .file-edit,
      .file:hover .file-download,
      .file:hover .file-delete {
        display: inline-block;
      }

      .file-edit .icon,
      .file-download .icon,
      .file-delete .icon {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        .filelink {
          flex: 1 1;
          width: auto;
        }

        .file-edit,
        .file-download,
        .file-delete {
          display: inline-block;
        }
      }
    {{ end }}

    {{ if eq .Layout "grid" }}
      #grid-display {
        background-color: var(--primary);
      }

      #files {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        margin: .5rem;
      }

      #files > * {
        align-items: center;
        background-color: var(--grey);
        display: flex;
        min-height: 12rem;
        position: relative;
      }

      .file {
        padding: 0.5rem;
      }

      .filelink {
        width: 100%;
      }

      .filelink picture img {
        vertical-align: middle;
        width: 100%;
      }

      .filename {
        display: block;
        margin-top: 1rem;
        text-align: center;
      }

      .file-edit,
      .file-download,
      .file-delete {
        background-color: var(--dark);
        display: none;
        padding: 0.5rem;
        position: absolute;
      }

      .file-download {
        left: 0.5rem;
        top: 0.5rem;
      }

      .file-share {
        bottom: 0.5rem;
        left: 0.5rem;
      }

      .file-edit {
        right: 0.5rem;
        top: 0.5rem;
      }

      .file-delete {
        bottom: 0.5rem;
        right: 0.5rem;
      }

      #files > *:hover .file-edit,
      #files > *:hover .file-download,
      #files > *:hover .file-share,
      #files > *:hover .file-delete {
        display: block;
      }
    {{ end }}

    .center {
      text-align: center;
    }

    .full {
      width: 100%;
    }

    .full-screen {
      max-width: 100vw;
    }

    .inline {
      display: inline-block;
    }

    .medium {
      font-size: 2.4rem;
    }

    .small {
      font-size: 1.6rem;
    }

    .padding {
      padding: 1rem;
    }

    .no-padding {
      padding: 0;
    }

    .padding-left {
      padding-left: 1rem;
    }

    .margin-right {
      margin-right: 1rem;
    }

    .no-margin {
      margin: 0;
    }

    .no-margin-bottom {
      margin-bottom: 0;
    }

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .relative {
      position: relative;
    }

    @media screen and (max-width: 374px) {
      .hide-xs {
        display: none;
      }
    }

    @media print {
      body::before {
        content: 'Save ink, share link. {{ .PublicURL }}{{ if .Request.Share }}/{{ .Request.Share.ID }}/{{ end }}';
      }

      body > * {
        display: none;
      }
    }
  </style>
{{ end }}
