{{ define "style" }}
  {{ if .Request }}
    {{ template "style-button" . }}
    {{ template "style-color" . }}
    {{ template "style-icon" . }}
    {{ template "style-modal" . }}
  {{ end }}

  <style>
    * {
      box-sizing: border-box;
    }

    html {
      font-size: 62.5%;
    }

    body {
      -webkit-overflow-scrolling: touch;
      background-color: var(--dark);
      height: 100vh;
    }

    body,
    button,
    input {
      color: var(--white);
      font-family:
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen-Sans',
        'Ubuntu',
        'Cantarell',
        'Helvetica Nue',
        sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
    }

    input {
      background-color: var(--white);
      color: var(--dark);
    }

    p {
      margin: 1rem;
    }

    a {
      color: var(--white);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }

    .header {
      background-color: var(--grey);
      margin-top: 0;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    .message {
      padding: 1rem 2rem;
    }

    .flex {
      display: flex;
    }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

    .flex-grow {
      flex: 1 1;
    }

    .flex-column {
      flex-direction: column;
    }

    .center {
      text-align: center;
    }

    .full {
      width: 100%;
    }

    .full-screen {
      max-width: 100vw;
    }

    .inline {
      display: inline-block;
    }

    .medium {
      font-size: 2.4rem;
    }

    .small {
      font-size: 1.6rem;
    }

    .padding {
      padding: 1rem;
    }

    .no-padding {
      padding: 0;
    }

    .padding-left {
      padding-left: 1rem;
    }

    .margin-right {
      margin-right: 1rem;
    }

    .no-margin {
      margin: 0;
    }

    .no-margin-bottom {
      margin-bottom: 0;
    }

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .relative {
      position: relative;
    }

    @media screen and (max-width: 374px) {
      .hide-xs {
        display: none;
      }
    }

    @media print {
      body::before {
        content: 'Save ink, share link. {{ .PublicURL }}{{ if .Request.Share }}/{{ .Request.Share.ID }}/{{ end }}';
      }

      body > * {
        display: none;
      }
    }
  </style>
{{ end }}
