{{ define "throbber" }}
  <script>
    /**
     * Generate a throbber.
     * @return {DOMNode}
     */
    function generateThrobber(className) {
      const wrapper = document.createElement('div');
      wrapper.classList.add('throbber');
      if (className) {
        wrapper.classList.add(className);
      }

      for (let i = 1; i < 4; i++) {
        const dot = document.createElement('div');
        dot.classList.add('throbber-dot', `throbber-dot-${i}`);
        wrapper.appendChild(dot);
      }

      return wrapper;
    }
  </script>

  <style>
    .throbber {
      margin: auto;
      text-align: center;
    }

    .throbber-dot {
      animation: throbber-dot 1.4s infinite ease-in-out both;
      background-color: var(--dark);
      border-radius: 100%;
      display: inline-block;
      height: 1rem;
      width: 1rem;
    }

    .throbber-white .throbber-dot {
      background-color: var(--white);
    }

    .throbber-dot-1 {
      animation-delay: -0.32s;
    }

    .throbber-dot-2 {
      animation-delay: -0.16s;
    }

    @keyframes throbber-dot {
      0%,
      80%,
      100% {
        transform: scale(0);
      }

      40% {
        transform: scale(1);
      }
    }
  </style>
{{ end }}
