{{ define "upload-modal" }}
  <script>
    /**
     * Drag'n drop.
     */
    const dropZone = document.getElementsByTagName('body')[0];

    /**
     * Noop function for event handler.
     * @param  {Object} e Event
     */
    function eventNoop(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    dropZone.addEventListener('dragover', eventNoop);
    dropZone.addEventListener('dragleave', eventNoop);
    dropZone.addEventListener('drop', e => {
      eventNoop(e);

      window.location.hash = '#upload-modal';
      document.getElementById('file').files = e.dataTransfer.files;
    });

    /**
     * Convert an ArrayBuffer to a HexString
     * @param  {ArrayBuffer} buffer ArrayBuffer to convert
     * @return {String}      Matching hex string
     */
    function bufferToHex(buffer) {
      return Array.prototype.map
        .call(new Uint8Array(buffer), x => `00${x.toString(16)}`.slice(-2))
        .join('');
    }

    /**
     * Compute the sha1 on input.
     * @param  {Object}          data Data to hash
     * @return {Promise<String>}      Promise that will resolve the sha1 string
     */
    async function sha1(data) {
      const buffer = await crypto.subtle.digest('SHA-1', new TextEncoder('utf-8').encode(data))
      return bufferToHex(buffer);
    }

    /**
     * Generate file message id.
     * @param  {File} file       File to generate id from.
     * @return {Promise<String>} Promise that will resolve the message id.
     */
    async function fileMessageId(file) {
      const hash = await sha1(file.name);
      return `upload-file-${hash}`;
    }

    /**
     * Add upload item content to container.
     * @param  {DOMNode} container Container to append item
     * @param  {File}    file      File to generate an item
     * @param  {Number}  index     Index of generated file
     */
    async function addUploadItem(container, file) {
      const messageId = await fileMessageId(file);

      const item = document.createElement('div');
      item.id = messageId;
      item.classList.add('flex', 'flex-center');

      const itemWrapper = document.createElement('div');
      itemWrapper.classList.add('upload-item');
      item.appendChild(itemWrapper);

      const filename = document.createElement('div');
      filename.classList.add('upload-name');
      filename.innerHTML = file.name;
      itemWrapper.appendChild(filename);

      const progress = document.createElement('progress');
      progress.classList.add('full');
      progress.max = 100;
      progress.value = 0;
      itemWrapper.appendChild(progress);

      const status = document.createElement('span');
      status.classList.add('upload-status');
      item.appendChild(status);

      container.appendChild(item);
    }

    /**
     * Get list of files to upload.
     */
    function getFiles(event) {
      const uploadList = document.getElementById('upload-list');
      replaceContent(uploadList);

      return [].filter
        .call(event.target, e => e.nodeName.toLowerCase() === 'input')
        .reduce((acc, cur) => {
          if (cur.type === 'file') {
            acc.files = cur.files;

            [].forEach.call(acc.files, file => addUploadItem(uploadList, file));
          } else {
            acc[cur.name] = cur.value;
          }

          return acc;
        }, {});
    }

    /**
     * Add upload message for file
     * @param {File} file    File to generate message
     * @param {Any} content  Content of message
     */
    async function setUploadStatus(file, content, style) {
      const messageId = await fileMessageId(file);

      const container = document.getElementById(messageId);
      if (!container) {
        return;
      }

      const statusContainer = container.querySelector('.upload-status');
      if (!statusContainer) {
        return;
      }

      statusContainer.innerHTML = content;
      statusContainer.classList.add(style);
    }

    let xhr;

    /**
     * Upload file with updating progress indicator.
     * @param  {String} method Method for uploading
     * @param  {File} file     File to upload
     * @return {Promise}       Promise of upload
     */
    async function uploadFile(method, file) {
      const messageId = await fileMessageId(file);

      const container = document.getElementById(messageId);
      let progress;
      if (container) {
        progress = container.querySelector('progress');
      }

      const formData = new FormData();
      formData.append('method', method);
      formData.append('files[]', file);

      return new Promise((resolve, reject) => {
        xhr = new XMLHttpRequest();

        if (progress) {
          xhr.upload.addEventListener(
            'progress',
            e => (progress.value = parseInt((e.loaded / e.total) * 100, 10)),
            false,
          );
        }

        xhr.addEventListener(
          'readystatechange',
          e => {
            if (xhr.readyState == XMLHttpRequest.DONE) {
              if (xhr.status >= 200 && xhr.status < 400) {
                if (progress) {
                  progress.value = 100;
                }

                resolve();
                xhr = undefined;
              } else {
                reject(e);
              }
            } else if (xhr.readyState == XMLHttpRequest.UNSENT) {
              reject(new Error("request aborted"));
            }
          },
          false,
        );

        xhr.open('POST', '', true);
        xhr.send(formData);
      });
    }

    /**
     * Handle upload submit
     * @param  {Object} e Submit event
     */
    async function upload(event) {
      event.preventDefault();

      const uploadButton = document.getElementById('upload-button');
      if (uploadButton) {
        replaceContent(uploadButton, generateThrobber('throbber-white'));
      }

      const values = getFiles(event);

      let success = true;
      for (var i = 0; i < values.files.length; i++) {
        const file = values.files[i];

        try {
          await uploadFile(values.method, file);
          setUploadStatus(file, '✓', 'success');
        } catch (err) {
          setUploadStatus(file, 'X', 'danger');
          success = false;

          console.error(err);
          break;
        }
      }

      if (success) {
        document.location.hash = '#upload-success';
      } else if (uploadButton) {
        uploadButton.innerHTML = 'Upload';
      }

      return false;
    }

    /**
     * Refresh page by redirect.
     */
    function refresh() {
      window.location.href = `${window.location.origin}${window.location.pathname}?redirect`;
    }

    /**
     * Abort current upload.
     */
    function abort(e) {
      e.preventDefault();

      if (xhr) {
        xhr.abort();
        xhr = undefined;
      } else {
        window.location.hash = '';
      }

      return false;
    }
  </script>

  <div id="upload-modal" class="modal full flex flex-center">
    <div class="modal-content">
      <h2 class="header">Upload files</h2>

      <form id="upload-form" method="post" enctype="multipart/form-data" action="#" onSubmit="return upload(event)">
        <input type="hidden" name="method" value="POST" />
        <p class="center">
          <input id="file" class="full" type="file" name="files[]" multiple />
        </p>

        <div id="upload-list" class="full">
        </div>

        <p class="center">
          <a href="#" class="button white" onclick="abort(event)">
            Cancel
          </a>

          <button id="upload-button" type="submit" class="button bg-important">
            Upload
          </button>
        </p>
      </form>
    </div>
  </div>

  <div id="upload-success" class="modal full flex flex-center">
    <div class="modal-content">
      <h2 class="header success padding">Upload success ✓</h2>

      <p class="center">
        <a href="#" class="button bg-grey" onclick="refresh()">
          Close
        </a>
      </p>
    </div>
  </div>
{{ end }}
