{{ define "upload-modal" }}
  <script>
    /**
     * Drag'n drop.
     */
    const dropZone = document.getElementsByTagName('body')[0];

    /**
     * Noop function for event handler.
     * @param  {Object} e Event
     */
    function eventNoop(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    dropZone.addEventListener('dragover', eventNoop);
    dropZone.addEventListener('dragleave', eventNoop);
    dropZone.addEventListener('drop', e => {
      eventNoop(e);

      window.location.hash = '#upload-modal';
      document.getElementById('file').files = e.dataTransfer.files;
    });

    /**
     * Convert an ArrayBuffer to a HexString
     * @param  {ArrayBuffer} buffer ArrayBuffer to convert
     * @return {String}      Matching hex string
     */
    function bufferToHex(buffer) {
      return Array.prototype.map
        .call(new Uint8Array(buffer), x => `00${x.toString(16)}`.slice(-2))
        .join('');
    }

    /**
     * Compute the sha1 on input.
     * @param  {Object}          data Data to hash
     * @return {Promise<String>}      Promise that will resolve the sha1 string
     */
    async function sha1(data) {
      const buffer = await crypto.subtle.digest('SHA-1', new TextEncoder('utf-8').encode(data))

      return bufferToHex(buffer);
    }

    /**
     * Generate file message id.
     * @param  {File} file       File to generate id from.
     * @return {Promise<String>} Promise that will resolve the message id.
     */
    async function fileMessageId(file) {
      const hash = await sha1(file.name);
      return `upload-file-${hash}`;
    }

    /**
     * Add upload item content to container.
     * @param  {DOMNode} container Container to append item
     * @param  {File}    file      File to generate an item
     * @param  {Number}  index     Index of generated file
     */
    async function addUploadItem(container, file) {
      const messageId = await fileMessageId(file);

      const item = document.createElement('div');
      item.id = messageId;
      item.classList.add('flex', 'flex-center');

      const progressWrapper = document.createElement('div');
      progressWrapper.classList.add('upload-item', 'full');
      item.appendChild(progressWrapper);

      const filename = document.createElement('div');
      filename.classList.add('upload-name');
      filename.innerHTML = file.name;
      progressWrapper.appendChild(filename);

      const progress = document.createElement('progress');
      progress.classList.add('full');
      progress.max = 100;
      progress.value = 0;
      progressWrapper.appendChild(progress);

      const status = document.createElement('span');
      status.classList.add('upload-status');
      item.appendChild(status);

      container.appendChild(item);
    }

    /**
     * Add upload message for file
     * @param {File} file    File to generate message
     * @param {Any} content  Content of message
     */
    async function setUploadStatus(file, content, style) {
      const messageId = await fileMessageId(file);

      const container = document.getElementById(messageId);
      if (!container) {
        return;
      }

      const statusContainer = container.querySelector('.upload-status');
      if (!statusContainer) {
        return;
      }

      statusContainer.innerHTML = content;
      statusContainer.classList.add(style);
    }

    /**
     * Upload file with updating progress indicator.
     * @param  {String} method Method for uploading
     * @param  {File} file     File to upload
     * @return {Promise}       Promise of upload
     */
    async function uploadFile(method, file) {
      return new Promise((resolve, reject) => {
        const messageId = fileMessageId(file);

        const xhr = new XMLHttpRequest();

        const container = document.getElementById(messageId);
        if (container) {
          const progress = container.querySelector('progress');

          if (progress) {
            xhr.upload.addEventListener(
              'progress',
              e => (progress.value = parseInt((e.loaded / e.total) * 100, 10)),
              false,
            );
          }
        }

        xhr.onreadystatechange = e => {
          if (xhr.readyState == 4) {
            if (xhr.status < 400) {
              resolve(e);
            } else {
              reject(e);
            }
          }
        };

        const formData = new FormData();
        formData.append('method', method);
        formData.append('files[]', file);

        xhr.open('POST', '', true);
        xhr.send(formData);
      });
    }

    /**
     * Handle upload submit
     * @param  {Object} e Submit event
     */
    async function upload(e) {
      e.preventDefault();

      const uploadButton = document.getElementById('upload-button');
      if (uploadButton) {
        replaceContent(uploadButton, generateThrobber('throbber-white'));
      }

      const uploadList = document.getElementById('uploadList');
      replaceContent(uploadList);

      const values = [].filter
        .call(event.target, e => e.nodeName.toLowerCase() === 'input')
        .reduce((acc, cur) => {
          if (cur.type === 'file') {
            acc.files = cur.files;

            [].forEach.call(acc.files, file => addUploadItem(uploadList, file));
          } else {
            acc[cur.name] = cur.value;
          }

          return acc;
        }, {});

      let success = true;
      [].forEach.call(values.files, file => {
        try {
          await uploadFile(values.method, file)
          setUploadStatus(file, '✓', 'success')
        } catch (e) {
          setUploadStatus(file, 'X', 'danger');
          success = false;

          console.error(e);
        }
      });

      if (success) {
        document.location.hash = '#upload-success';
      } else if (uploadButton) {
        uploadButton.innerHTML = 'Upload';
      }

      return false;
    }

    /**
     * Close any modal and refresh page.
     */
    function closeAndRefresh() {
      document.location.hash = '';
      window.location.reload(true);
    }
  </script>

  <div id="upload-modal" class="modal full flex flex-center">
    <div class="modal-content">
      <h2 class="header">Upload files</h2>

      <form method="post" enctype="multipart/form-data" action="#" onSubmit="return upload(event)">
        <input type="hidden" name="method" value="POST" />
        <p class="center">
          <input id="file" type="file" name="files[]" multiple />
        </p>

        <div id="uploadList">
        </div>

        <p class="center">
          <button id="upload-button" type="submit" class="button bg-important">
            Upload
          </button>
        </p>
      </form>

      <p class="center">
        <a href="#" class="button white">
          Cancel
        </a>
      </p>
    </div>
  </div>

  <div id="upload-success" class="modal full flex flex-center">
    <div class="modal-content">
      <h2 class="header success padding">Upload success ✓</h2>

      <p class="center">
        <a href="#" class="button bg-grey" onclick="closeAndRefresh()">
          Close
        </a>
      </p>
    </div>
  </div>
{{ end }}
