#map:target {
  display: flex;
  z-index: 5;
}

#map:target ~ .content {
  pointer-events: none;
}

#map-container {
  background-color: var(--grey);
  color: var(--dark);
  height: 80lvh;
  width: 80vw;
}

.thumbnail-img {
  height: 15rem;
}

.thumbnail-popup {
  bottom: 55px !important;
  height: 15rem;
  width: 19rem;
}

.map-throbber {
  z-index: 500;
}

.map-throbber .throbber-dot {
  height: 3.2rem;
  width: 3.2rem;
}
