#webhook-form:target {
  display: flex;
  z-index: 5;
}

#webhook-form:target ~ .content {
  pointer-events: none;
}

#webhook-list:target {
  display: flex;
  z-index: 5;
}

#webhook-list:target ~ .content {
  pointer-events: none;
}

#webhooks {
  border-spacing: 0;
  display: block;
  overflow: auto;
}

#webhooks th,
#webhooks td {
  padding: 1rem;
}

.webhook-content:hover {
  background-color: var(--grey);
}

.url {
  max-width: 30rem;
  text-align: left;
}

@media screen and (max-width: 485px) {
  .url {
    max-width: 20rem;
  }
}

@media screen and (max-width: 430px) {
  .url {
    max-width: 16rem;
  }
}

@media screen and (max-width: 375px) {
  .url {
    max-width: 12rem;
  }
}

@media screen and (max-width: 320px) {
  .url {
    max-width: 8rem;
  }
}
