{{- define "error" -}}
  {{- template "header" . -}}

  <header class="header center">
    <h1 class="title">fibr</h1>
  </header>

  <h2 class="center">Error {{ .Status }} ¯\_(ツ)_/¯</h2>

  {{- if .Error -}}
    <p class="center">
      {{- .Error -}}
    </p>
  {{- end -}}

  <p class="center">
    <a href="/">Back to home</a>
  </p>

  {{- template "footer" . -}}
{{- end -}}
