{{- define "favicon" -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v={{- .Config.Version -}}">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v={{- .Config.Version -}}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v={{- .Config.Version -}}">
  <link rel="manifest" href="/favicon/manifest.json?v={{- .Config.Version -}}">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v={{- .Config.Version -}}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
{{- end -}}
