{{- define "folder-form" -}}
  <div class="modal-content">
    <h2 class="header">Create new folder</h2>

    <p class="center">
      <a href="#" class="button">
        Cancel
      </a>
    </p>
  </div>
{{- end -}}
