{{- define "header" -}}
  <!doctype html>
  <html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{- template "favicon" . -}}
      {{- template "seo" . -}}
      {{- template "style" . -}}
    </head>
    <body>
{{- end -}}
