{{- define "modifiers" -}}
  <a id="list-display" class="modifier" href="?d=list">
    {{- template "svg-list" "icon" -}}
  </a>
  <a id="grid-display" class="modifier" href="?d=grid">
    {{- template "svg-th" "icon" -}}
  </a>
{{- end -}}
