{{- define "modifiers" -}}
  <a id="list-display" class="modifier" href="?d=list">
    <img class="icon" src="{{- .Config.StaticURL -}}/svg/list.svg?v={{- .Config.Version -}}" alt="list" />
  </a>
  <a id="grid-display" class="modifier" href="?d=grid">
    <img class="icon" src="{{- .Config.StaticURL -}}/svg/th.svg?v={{- .Config.Version -}}" alt="grid" />
  </a>
{{- end -}}
