{{- define "script" -}}
  <script type="text/javascript">
    document.onkeyup = function (e) {
      if (e.keyCode === 27) {
        document.location.hash = '';
      }
    }
  </script>
{{- end -}}
